/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Layout General (plantilla) ■■■■■■■■■■■■■■■*/

.tapiz {
    background-image: url('../../recursos/cheap_diagonal_fabric.png');
    /*background-color:#e9eaed;*/ /*azul facebook*/
}

.tapiz_contenido{
    background:#fff;
    box-shadow:0 0 0 1px rgba(0, 0, 0, 0.05),0 1px 2px rgba(0, 0, 0, 0.3);
}

.box_left{box-shadow:1px 0 0 #e2e2e2}
.controles_box_right{border-bottom:solid 1px #e2e2e2}
.controles_box_right.down{border-top:solid 1px #e2e2e2}

/*■■■■■■■■■■■■ Fin Layout General ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Busqueda (plantilla) ■■■■■■■■■■■■■■■*/

.contenedor_filtros{background:#fff}
.contenedor_filtros>p{color:#0f745b;border-bottom:2px solid #0f745b}

.right_busqueda{background:#fff}
.box-sort-busqueda{border-bottom:1px solid #aaa;border-top:1px solid #aaa}

/*-----Contenedor Resultados---------*/
.res_bus{padding:0 50px}
.desc_res{border-bottom:1px solid #47627d;color:#47627d}

/*--------Mensajes Busqueda-------*/
.mensaje_busqueda{color:#666;border:1px dashed #666}
.mensaje_busqueda span{color:#666}

/*-------Dibujo Busqueda----------*/
.dibujo_busqueda span{color:#999}

/*■■■■■■■■■■■■ Fin Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Butom ■■■■■■■■■■■■■■■*/

/*---------Estilos para Botones----------*/
.btn_con_ico{
    background-color: #0f745b;
	color: #fff;
}

.btn_con_ico:hover{background-color:#099472}
.btn_con_ico:active{background-color:#064234}

/*...................................*/
.btn_con_ico.azul{background-color:#2980b9}
.btn_con_ico.azul:hover{background-color:#3498db}
.btn_con_ico.azul:active{background-color:#27649b}
/*...................................*/
.btn_toggle{
    background-color: transparent;
    color:#666;
    border:solid 1px #aaa;
}
.btn_toggle:hover{
    background-color: #EEEEEE;
    box-shadow:inset 0 0 0 1px #aaa;
}
.btn_toggle:active{background-color:#ccc}

.btn_toggle.activo{
    background-color: #EEEEEE;
    box-shadow:inset 0 0 0 1px #aaa;
    color:#2c77ba;
}

.btn_toggle.ico{box-shadow:inset 0 0 0 1px #aaa}

/*---------------------------------*/
.tamano_botones_1{background:rgba(0,0,0,.08)}
.btn_sin_ico{
    background-color: #0f745b;
	color: #fff;
}

.btn_sin_ico:hover,.btn_ico:hover{background-color:#009688}

.btn_sin_ico:active,.btn_ico:active{background-color:#064234}

/*-----Btn solo Ico-----*/

.btn_ico{background:#00796b}
.btn_ico>span:before{color:#fff}

/*--Fin Btn solo Ico-----*/

/*■■■■■■■■■■■■ Fin Butom ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*■■■■■■■■■■■■ Resultado Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/
/*--------  Tarjeta Noticias -------*/
.titulo_tarjeta a{
    color:#0f745b;
    -moz-text-decoration-color: #0f745b;
    text-decoration-color: #0f745b;
}

.contenido_tarjeta{color:#222}
.subcontenido_tarjeta{color:#666}
.control_tarjeta{border-bottom:1px solid #ccc}
.control_tarjeta>a{color:#0f745b}
/*-----Fin Tarjeta Noticias -------*/   


/* -----------------modal anotaciones------------------ */
.tarjeta_anotacion{
    background:#fefefe;
    box-shadow: 0 0 0 1px #ddd,1px 1px 1px rgba(0, 0, 0, 0.44)  ;
}

.tarjeta_anotacion>div:first-child span:before{color:#2c77ba}

.tarjeta_anotacion:hover{background:#c6e2ee}

/*==========================================*/
.documento_actual{background:#fff;border:1px solid #dde}

.documento_actual>div:first-child span:before{color:#27ae60}

.documento_actual>div:last-child>p:first-child{color:#27ae60}

.documento_actual p{color:#555}
/*==========================================*/
.titulo_tarjeta.anotacion a{color:#2c77ba}
/*==========================================*/
.subcontenido_tarjeta.anotacion{color:#34495e}
/*==========================================*/
.tipo_anotacion p{color:#34495e}
 
/*■■■■■■■■■■■■ Fin Resultado Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Filtro Busqueda ■■■■■■■■■■■■■■■*/

/*---------Lista de Filtros---------*/
.lista_filtro li div:first-child{border:1px dotted rgba(153,153,153,.4)} 
.tip{color:#099472}
.descripcion{color:#777}
/*------fin Lista de Filtros---------*/

/*----Boton para agregar----*/
.btn_search_avanzada{
    background:#0f745b;
    color:white;
}
.btn_search_avanzada:hover{background:#099472}
.btn_search_avanzada:active{background:#064234}
/*----Fin boton para agregar----*/

/*----Boton para eliminar----*/
.btn_delete_avanzada{background:#dc4747;color:#fff}
.btn_delete_avanzada:hover{background:#ff5b5b}
.btn_delete_avanzada:active{background:#8f0000}
/*----Fin boton para eliminar----*/

/*■■■■■■■■■■■■ Fin Filtro Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Sort Busqueda ■■■■■■■■■■■■■■■*/

.bar_ordenamiento li{color:#222}

.bar_ordenamiento li.active_filter{ 
    box-shadow: 0 3px 0 #099472;
    color:#099472;
    border-color:#099472;
}

.bar_ordenamiento li:hover{box-shadow:inset 0 -2px 0 #099472}
.sort-avanzada.activo{color:#2c52ba;box-shadow:0 0 0 1px #bbb inset}

/*■■■■■■■■■■■■ Fin Sort Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ news (plantilla) ■■■■■■■■■■■■■■■*/

.a_news {
    background-image: url('../../recursos/header/fondo_news_normal.jpg');
    background-size: cover;
    border-bottom: 5px solid #aaa;
}

.titulo_news{
    color:#FFF;
    background:rgba(0, 0, 0, 0.3);
    box-shadow:0 -3px 10px 2px rgba(0, 0, 0, 0.3);
    border-bottom:1px solid #ccc;
}

.tarjeta_news{ 
    box-shadow:0 0 0 1px rgba(0, 0, 0, 0.05),0 1px 2px rgba(0, 0, 0, 0.3);
    background:rgba(255, 255, 255, 0.95);
}

/*■■■■■■■■■■■■ news (plantilla) ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/



/*gadget_control_entidad*/
.iconos_control {
    color: #37404A;
    background:white;
}
.panel_control {
    background: rgb(237, 237, 237);
    border:2px solid #a1a1a1;
}
.a_bloques input:hover + label{
   box-shadow:#a1a1a1 0 0 0 2px inset;
}
.a_bloques input:checked + label{
   box-shadow:#29c44b 0 0 1px 2px inset;
}
.note { 
    background:#fff;
   -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.4);
   -moz-box-shadow: 0 0 1px rgba(0,0,0,0.4);
   box-shadow: 0 0 1px rgba(0,0,0,0.4);
}
.note:before {
    border-color:#aaa rgb(237, 237, 237) ; /*cambio no funciona*/
   -webkit-box-shadow: -1px 2px 1px rgba(0,0,0,0.4);
   -moz-box-shadow: -1px 2px 1px rgba(0,0,0,0.4); 
   box-shadow: -1px 2px 1px rgba(0,0,0,0.4);  
}
.a_bloques input:checked + label::after {
    text-shadow: 0 0 1px green;
}
/*-----------------------------------*/

/*===============================================================================================================================*/
/*■■■■■■■■■■■■ input_text ■■■■■■■■■■■■■■■*/
.a_input,           /*input normal*/
.input_text_btn,    /*Input con boton*/
.input_text_ico     /*Input con icono como en filtros busqueda ó como el de login*/
{border:1px solid #bbb;}

/*Eventos de los inputs*/

.input_text_btn:focus:hover, 
.input_text_btn:focus:hover ~ button,
.input_text_ico:focus ~ button:active
{
    border-color:#38ba8f;
    background:rgb(237, 255, 242);
}

.input_text_btn:focus~button:hover{background:#bae6c6}

/*------ hover para los input -------*/
.a_input:hover,
.input_text_ico:hover,
.input_text_btn:hover,
.input_text_btn:hover ~ button{
    border-color:#888;
    background:rgba(0, 0, 0, 0.02);
}

/*---- placeholder en mozilla y chrome ----*/
.a_input:focus::-moz-placeholder,
.input_text_ico:focus::-moz-placeholder,
.input_text_btn:focus::-moz-placeholder{
    color: #0f745b;
    background:rgb(237, 255, 242);
}

.a_input:focus::-webkit-input-placeholder,
.input_text_ico:focus::-webkit-input-placeholder,
.input_text_btn:focus::-webkit-input-placeholder
{
    color: #0f745b;
    background:rgb(237, 255, 242);
}
/* ---FIN placeholder en mozilla y chrome----*/

.a_input:-webkit-autofill,
.input_text_btn:-webkit-autofill 
.input_text_ico:-webkit-autofill 
{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*Input con evento FOCUS .......................................*/
.a_input:focus,
.input_text_ico:focus,
.input_text_btn:focus, 
.input_text_btn:focus ~ button{
    border-color:#38ba8f;
    background:rgb(237, 255, 242);
}
  
.a_input:-webkit-autofill:active,
.a_input:-webkit-autofill:focus,
.input_text_ico:-webkit-autofill:active,
.input_text_ico:-webkit-autofill:focus,
.input_text_btn:-webkit-autofill:active,
.input_text_btn:-webkit-autofill:focus
 {-webkit-box-shadow: 0 0 0px 1000px white inset;}

.ico_input_text         {background:#0f745b;color:#fff;}
.btn_cancel{  
    background:#fff;
    border:1px solid #bbb;
    border-left:none !important;
    color:#666;
}

.btn_cancel:disabled{background:#fff}
.btn_cancel span{color:#666}


/*■■■■■■■■■■■■ Fin input_text ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Listado (elemento)*/
/*■■■■■■■■■■■■■■■■■■*/

.a_listado li{border:1px solid #a1a1a1;border-top:none;}
.a_listado li:first-child{border-top:1px solid #a1a1a1}
label.styled{color:#222}
label.styled:hover{background-color:rgba(69,177,93,.2)}
label.styled>p{color:#0f745b}
/* :: CHECKED :: */
input.styled:checked~label.styled{background-color:rgba(69,177,93,.2)}
label.styled:before{color:#fff;background-color:#2dbf85}

/*Fin Listado (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*mini-search (elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/

.mini_search{
    -webkit-box-shadow: 0 0 0 8px rgba(17, 21, 21, 0.3);
    -moz-box-shadow: 0 0 0 8px rgba(17, 21, 21, 0.3);
    box-shadow: 0 0 0 8px rgba(17, 21, 21, 0.3);
}

.mini_search input{color:#444;background:#fff}
.mini_search button:hover{background:#146c47}
.mini_search button{background:#189c64;color:#fff}

.mini_search.animacion_mini_search {
    -webkit-box-shadow: 0 0 0 6px rgba(24, 156, 100,.6);
    -moz-box-shadow: 0 0 0 6px rgba(24, 156, 100,.6);
    box-shadow: 0 0 0 6px rgba(24, 156, 100,.6);
}

/*Fin mini-search (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Select (elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/

/*------Select input ---------*/
.a_select select:disabled{background:#e3e3e3}
.a_select input:disabled{background:#e3e3e3}
.a_select select,.a_select input{background:#fff;border:1px solid #999}
.a_select:before{color:#999}
.a_select:hover::before{color:#099472}
.a_select.disable:hover::before{color:#999}

/*---Eventos select-----*/
.a_select>select:focus{border-color:#38ba8f}
  
.a_select > select:-webkit-autofill:active,
.a_select > select:-webkit-autofill:focus
{-webkit-box-shadow: 0 0 0px 1000px white inset;}



/*Fin Select (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Switch (elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/

.switch:empty+label{background-color:#a1a1a1}
.switch+label:before{background-color:#b4b4b4;border:1px solid #fff}
.switch+label:after{background-color:#5e5f64}
.switch:checked+label:before{background-color:#34d056;}
.switch:checked+label:after{background-color:#5e5f64}

/*//////////////////////////////////////////////////////////*/
/*custom checked*/
.a_checkbox~label{color:#fff}
.a_checkbox:empty~label:before{background:#ccc;border:1px solid #bbb}
.a_checkbox:checked~label:before{background:#2c77ba;border:1px solid #1f98c7}

/*//////////////////////////////////////////////////////////*/
/*custom-radios*/
.a_radio~label:before{background:#ccc;border:6px solid #aaa !important}
.a_radio:checked~label:before{background:#58b3f0;border-color:#2c77ba !important}
.a_radio:checked+label{color:#000}

/*Fin Switch (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Tabla (elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/

.a_tabla{border:1px solid #bcbcbc}
.a_tabla th,td{border-top:1px solid #ccc}
.a_tabla th{color:#222;border:none;border-bottom:2px solid #cbcbcb}
.a_tabla tr:nth-child(even){background-color:#f5f5f5}
.a_tabla tr:nth-child(odd){background-color:#fff}

/*Fin Tabla (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Tabs (elemento)*/
/*■■■■■■■■■■■■■■■*/

.contenedor_tabs{box-shadow:inset 0 -1px 0 0 #ccc;background:#eee}
.contenedor_tabs ul{color:#555}

.contenedor_tabs > ul > li{
    background:white;
    box-shadow: inset 0 -1px 0 0 #ccc,inset -1px 0 0 0 #ccc;
}

.contenedor_tabs>ul>li:after{background:#2dbf85}
.contenedor_tabs>ul>li:hover{background:rgba(0,0,0,.01);color:#2dbf85}

.contenedor_tabs > ul > li.active_tab { /*tab activa*/
    background: white;
    color:#2dbf85;
    box-shadow: inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc;
}

/*Fin Tabs (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Text Area (elemento)*/
/*■■■■■■■■■■■■■■■*/

.text_area{border:1px solid #a1a1a1}
.text_area:focus{
    border:1px solid  #3f9f43;
    box-shadow: 0 0 4px rgb(75 , 187, 79) ;
}

/*Fin Text Area (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Footer (Directiva)*/
/*■■■■■■■■■■■■■■■■■■*/

.a_footer{background:#2c3e50;color:#eee}
.sub_footer1{background:rgba(0,0,0,.3)}
.sub_footer2{color:#eee}

.sub_footer1>div{color:#eee}
.sub_footer1>div>hr{border:1px solid rgba(255,255,255,.1)}
.sub_footer1>div>p{color:#eee}
.sub_footer1>div>p:first-child{font-size:1.1em}
.f_link{color:#eee;cursor:pointer}
.ico_f{color:#eee}
.ico_f:hover,.f_link:hover{color:#5ab6ae}

/*------------------------------------------------------------*/
/*Mini footer*/
.a_mini_footer{background:#2c3e50;color:#eee}
.a_mini_footer>div:first-child{box-shadow:0 2px 3px 0 #1b2631}



/*Fin Footer (Directiva)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Uploader (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■*/

.uploader {
    background-color: #cccccc;
    outline: 2px dashed #cccccc;
}

.uploader label{color:rgba(0,0,0,.5)}
.uploader>span{color:rgba(0,0,0,.5)}

.uploader.dragging {
    outline-color: rgb(30, 109, 185);  
    background-color: rgba(0, 0, 0, 0.07);
}
.uploader.dragging>span{color:#1e6db9}
.uploader.loaded>span{color:#3bc742}
.uploader.loaded{outline-color:#3bc742}

#progress_bar .percent {
    background-color: #3bc742;
    color:white;
}

/*Fin Uploader (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/




/*-----------------------------------------------------*/
/*animacion de carga */
.loader {
  background: #2df1a3;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #2df1a3 10%, rgba(45, 241, 163, 0.00) 42%);
  }
.loader:before {  
  background: #1bba93;
  }
.loader:after {
  background: #ffffff;  
}

/*-----------------------------------------------------------*/
/*estilos web legem*/

/*Titulos para los contenidos*/
.titulo_login {
    color: white;
    background: rgba(15, 116, 91, 0.7);
}

.titulo{
    color: white;
    background: rgb(15, 116, 91);
}

/*menesajes de validacion*/
.a_validacion{
    color: orangered;  
}

           
#campos{
    padding-bottom:10px; 
    color:#666;
}

/*TEXTO PARA LOS LABELS*/
.texto_labels{   
    color:#434e58;    
}
.texto_labels.green{
    color:#0f745b;
}
.texto_labels.bold{
    font-family:"Lato-Bold";
}
.subtitulos_labels{ 
    color:#434e58;    
}
.divisor_gestion_documental{
    border: solid 1px #434e58;
}


/*pagina principal*/

.ir_arriba {
    background: rgba(25, 159, 101, .8);
    color: white;
}
 
/*----------------------------------------------*/
/*pagina_principal_contraste.css no tiene ningun elemento con color, body background con imagen*/
/*principal.css no tiene ningun elemento con color, body background con imagen*/

.contenido_principal:before {
   background-image: url('../../recursos/header/VIPRI-dia.jpg');
}
/*------------------FIN DEMO----------------------------*/



.figura_logo{
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.85));
    filter        : drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.85));
}


.nombre_pagina {
    color:white;
    text-shadow: 1px 1px 2px rgba(140,140,140,0.6), -1px -1px 3px rgba(0, 0, 0, .67);
}
#svg_image {
    stroke:#010365;
}

 /*informacion documento no tiene elementos con color*/


 /*login*/
.contenedor_login{
    box-shadow:0 0 0 1px rgba(0, 0, 0, 0.05),0 1px 2px rgba(0, 0, 0, 0.3);   
}

.contenedor_login:before {
    background-image: url('../../recursos/header/entrada.jpg');
    /*background-image: url('../../recursos/índice2.png');*/
}

.form_login{
    background:rgba(255, 255, 255, 0.75);
}
.mensaje_login{
    color:#999;
    border-bottom: 1px solid #bbb;
}

 /*------------------------------fin layout general--------------*/

/*usuarios*/
/*###### Control Roles #######*/
.contenedor_permisos {
    border:1px solid #ccc;
}

.contenedor_permisos p{
    color:#444;
}
.estado_permiso {
    color:#2062b9 !important;
}

.titulo_modulo{
    border-bottom:1px solid #ccc;
    background:#E9EAED;
}

.titulo_modulo p{
    color:#222 !important;
}


/*--------------------------------fin-usuarios---------------------------*/
#tapiz_administracion{
    background:#e9eaed;
}

.olvide_contraseña{
    color:blue;
}

#box_input_login{
     background:#fff;
}