/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Layout General ■■■■■■■■■■■■■■■*/

.tapiz {
    background-image: url('../../recursos/header/dark_Tire.png');
    /*background-color:#e9eaed;*/ /*azul facebook*/
}

.tapiz_contenido{
   background:#111;
   box-shadow:0 0 0 1px rgb(45, 241, 163), 0 1px 2px rgba(45, 241, 163, 0.30) ;
 }

.box_left{box-shadow:1px 0 0 rgb(45, 241, 163)}
.controles_box_right{border-bottom:solid 1px rgb(45, 241, 163)}
.controles_box_right.down{border-top:solid 1px rgb(45, 241, 163)}

/*■■■■■■■■■■■■ Fin Layout General ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Busqueda (plantilla) ■■■■■■■■■■■■■■■*/

.contenedor_filtros{background:#000}
.contenedor_filtros>p{color:#7fde49;border-bottom:2px solid #7fde49}

.right_busqueda{background:#000}
.box-sort-busqueda{border-bottom:1px solid #aaa;border-top:1px solid #aaa}

/*-----Contenedor Resultados---------*/
.res_bus{padding:0 50px}
.desc_res{border-bottom:1px solid #89afd5;color:#89afd5;}

/*--------Mensajes Busqueda-------*/
.mensaje_busqueda{color:#cfd6e5;border:1px dashed #9a9797}
.mensaje_busqueda span{color:#cfd6e5}

/*-------Dibujo Busqueda----------*/
.dibujo_busqueda span{color:#cfd6e5}

/*■■■■■■■■■■■■ Fin Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Butom ■■■■■■■■■■■■■■■*/

/*---------Estilos para Botones----------*/
.btn_con_ico{
    background-color: #7fde49 !important;
	color: #000 !important;
}

.btn_con_ico:hover{background-color:#6ccb35 !important}
.btn_con_ico:active{background-color:#57ae27 !important}

/*...................................*/
.btn_con_ico.azul{background-color:#2980b9}
.btn_con_ico.azul:hover{background-color:#3498db}
.btn_con_ico.azul:active{background-color:#27649b}
/*...................................*/
.btn_toggle{
    background-color: transparent;
    color:#666;
    border:solid 1px #aaa;
}
.btn_toggle:hover{
    background-color: #EEEEEE;
    box-shadow:inset 0 0 0 1px #aaa;
}
.btn_toggle:active{background-color:#ccc}

.btn_toggle.activo{
    background-color: #EEEEEE;
    box-shadow:inset 0 0 0 1px #aaa;
    color:#2c77ba;
}

.btn_toggle.ico{box-shadow:inset 0 0 0 1px #aaa}

/*---------------------------------*/
.tamano_botones_1{background:rgba(0,0,0,.08)}

.btn_sin_ico{
    background-color: #7fde49 !important;
	color: #000 !important;
}
.btn_sin_ico:hover,.btn_ico:hover{background-color:#6ccb35 !important}
.btn_sin_ico:active,.btn_ico:active{background-color:#57ae27 !important}

/*-----Btn solo Ico-----*/

.btn_ico{background:#7fde49 !important}
.btn_ico>span:before{color:#000 !important}

/*--Fin Btn solo Ico-----*/

/*■■■■■■■■■■■■ Fin Butom ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*■■■■■■■■■■■■ Resultado Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/
/*--------  Tarjeta Noticias -------*/
.titulo_tarjeta a{
    color:#7fde49 !important;
    -moz-text-decoration-color: #7fde49 !important;
    text-decoration-color: #7fde49 !important;
}

.contenido_tarjeta{color:#fff !important}
.subcontenido_tarjeta{color:#C6E2EE !important}
.control_tarjeta{border-bottom:1px solid #ccc !important}
.control_tarjeta>a{color:#7fde49 !important}
/*-----Fin Tarjeta Noticias -------*/   

/* -----------------modal anotaciones------------------ */
.tarjeta_anotacion{
    background:#fefefe;
    box-shadow: 0 0 0 1px #ddd,1px 1px 1px rgba(0, 0, 0, 0.44)  ;
}

.tarjeta_anotacion>div:first-child span:before{color:#2c77ba}

.tarjeta_anotacion:hover{background:#c6e2ee}

/*==========================================*/
.documento_actual{background:#fff;border:1px solid #dde}

.documento_actual>div:first-child span:before{color:#27ae60}

.documento_actual>div:last-child>p:first-child{color:#27ae60}

.documento_actual p{color:#555}
/*==========================================*/
.titulo_tarjeta.anotacion a{color:#2c77ba}
/*==========================================*/
.subcontenido_tarjeta.anotacion{color:#34495e}
/*==========================================*/
.tipo_anotacion p{color:#34495e}
 
/*■■■■■■■■■■■■ Fin Resultado Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Filtro Busqueda ■■■■■■■■■■■■■■■*/

/*---------Lista de Filtros---------*/
.lista_filtro li div:first-child{border:1px dotted rgba(153,153,153,.4)} 
.tip{color:#fff !important}
.descripcion{color:#7fde49 !important}
/*------fin Lista de Filtros---------*/

/*----Boton para agregar----*/
.btn_search_avanzada{
    background:#7fde49 !important;
    color:#000;
}
.btn_search_avanzada:hover{background:#7fde49 !important}
.btn_search_avanzada:active{background:#57ae27 !important}
/*----Fin boton para agregar----*/

/*----Boton para eliminar----*/
.btn_delete_avanzada{background:#dc4747;color:#fff}
.btn_delete_avanzada:hover{background:#ff5b5b}
.btn_delete_avanzada:active{background:#8f0000}
/*----Fin boton para eliminar----*/

/*■■■■■■■■■■■■ Fin Filtro Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Sort Busqueda ■■■■■■■■■■■■■■■*/

.bar_ordenamiento li{color:#fff !important}

.bar_ordenamiento li.active_filter{ 
    box-shadow: 0 3px 0 #7fde49 !important;
    color:#7fde49 !important;
    border-color:#7fde49!important;
}

.bar_ordenamiento li:hover{box-shadow:inset 0 -2px 0 #7fde49!important}
.sort-avanzada.activo{color:#fff;box-shadow:0 0 0 1px #7fde49 inset!important}

/*■■■■■■■■■■■■ Fin Sort Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/

/*===============================================================================================================================*/
/*■■■■■■■■■■■■ news (plantilla) ■■■■■■■■■■■■■■■*/

.a_news {
    background-image: url('../../recursos/header/fondo_news_alto.jpg')!important;
    background-size: cover;
    border-bottom: 5px solid #aaa;
}

.titulo_news{
    color:#FFF;
    background:rgba(0, 0, 0, 0.3);
    box-shadow:0 -3px 10px 2px rgba(0, 0, 0, 0.3);
    border-bottom:1px solid #ccc;
}

.tarjeta_news{ 
    box-shadow:0 0 0 1px rgba(35, 180, 74, 0.4),0 1px 2px rgba(48, 154, 28, 0.8)!important;
    background:rgba(0, 0, 0, 0.95)!important;
}

/*■■■■■■■■■■■■ news (plantilla) ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*gadget_control_entidad*/
.iconos_control {
    color: var(--negro);
    background:#00FFFF;
}
.panel_control {
    background: rgb(0, 0, 0);
    border:2px solid var(--gris);
}
.a_bloques input:hover + label{
   box-shadow:var(--gris) 0 0 0 2px inset;
}
.a_bloques input:checked + label{
   box-shadow:var(--btn) 0 0 1px 2px inset;
}
.note { 
    background:var(--gris);
   -webkit-box-shadow: 0 0 1px var(--gris);
   -moz-box-shadow: 0 0 1px var(--gris);
   box-shadow: 0 0 1px var(--gris);
}
.note:before {
    border-color:var(--gris) var(--negro) ; 
   -webkit-box-shadow: -1px 2px 1px var(--negro);
   -moz-box-shadow: -1px 2px 1px var(--negro);
   box-shadow: -1px 2px 1px var(--negro);  
}
.a_bloques input:checked + label::after {
    text-shadow: 0 0 1px var(--btn);
}
/*-----------------------------------*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ input_text ■■■■■■■■■■■■■■■*/
.a_input,           /*input normal*/
.input_text_btn,    /*Input con boton*/
.input_text_ico     /*Input con icono como en filtros busqueda ó como el de login*/
{border:1px solid #16a366;
 background:#000;
}

/*Eventos de los inputs*/

.input_text_btn:focus:hover, 
.input_text_btn:focus:hover ~ button,
.input_text_ico:focus ~ button:active
{
    border-color:#aa00a2;
    background:#000;    
}

.input_text_btn:focus~button:hover{background:#222222;color:yellow;}

/*------ hover para los input -------*/
.a_input:hover,
.input_text_ico:hover,
.input_text_btn:hover,
.input_text_btn:hover ~ button{
    border-color:#aa00a2;
    background:#000;
}

/*---- placeholder en mozilla y chrome ----*/
.a_input:focus::-moz-placeholder,
.input_text_ico:focus::-moz-placeholder,
.input_text_btn:focus::-moz-placeholder{
    color: #18c49a;
    background:#000;
}

.a_input:focus::-webkit-input-placeholder,
.input_text_ico:focus::-webkit-input-placeholder,
.input_text_btn:focus::-webkit-input-placeholder
{
    color:#18c49a;
    background:#000 ;
}


.a_input::-moz-placeholder,
.input_text_ico::-moz-placeholder,
.input_text_btn::-moz-placeholder{
    color: #18c49a;
    background:#000;
}

.a_input::-webkit-input-placeholder,
.input_text_ico::-webkit-input-placeholder,
.input_text_btn::-webkit-input-placeholder
{
    color:#18c49a;
    background:#000 ;
}
/* ---FIN placeholder en mozilla y chrome----*/

.a_input:-webkit-autofill,
.input_text_btn:-webkit-autofill 
.input_text_ico:-webkit-autofill 
{
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
}

/*Input con evento FOCUS .......................................*/
.a_input:focus,
.input_text_ico:focus,
.input_text_btn:focus, 
.input_text_btn:focus ~ button{
    border-color:#aa00a2;
    background:#000;
    color:yellow;
}
  
.a_input:-webkit-autofill:active,
.a_input:-webkit-autofill:focus,
.input_text_ico:-webkit-autofill:active,
.input_text_ico:-webkit-autofill:focus,
.input_text_btn:-webkit-autofill:active,
.input_text_btn:-webkit-autofill:focus
 {-webkit-box-shadow: 0 0 0px 1000px #000 inset;}


.ico_input_text{background:#0f745b;color:#fff;}
.btn_cancel{  
    background:#000;
    border:1px solid #16a366;
    border-left:none !important;
    color:#aa00a2;
}

.btn_cancel:disabled{background:#000}
.btn_cancel span{color:#aa00a2;}

/*■■■■■■■■■■■■ Fin input_text ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Listado (elemento)*/
/*■■■■■■■■■■■■■■■■■■*/

.a_listado li{border:1px solid #aaa;border-top:none;}
.a_listado li:first-child{border-top:1px solid #aaa}
label.styled{color:#7fde49}
label.styled:hover{background-color:rgba(255, 255, 255, 0.3);}
label.styled>p{color:#f07d58}
/* :: CHECKED :: */
input.styled:checked~label.styled{background-color:rgba(0, 0, 0, 0.8)}
label.styled:before{color:#000;background-color:#7fde49}

/*Fin Listado (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*mini-search (elemento)*/
/*■■■■■■■■■■■■■■■■■■*/

.mini_search{
    -webkit-box-shadow: 0 0 0 8px rgba(176, 226, 226, 0.30);
    -moz-box-shadow: 0 0 0 8px rgba(176, 226, 226, 0.30);
    box-shadow: 0 0 0 8px rgba(176, 226, 226, 0.30);
}
.mini_search input{color:#444;background:#fff}
.mini_search button:hover{background:#6ccb35}
.mini_search button{background:#7fde49;color:#000}

.mini_search.animacion_mini_search {
    -webkit-box-shadow: 0 0 0 6px rgba(47, 182, 54, 0.60);
    -moz-box-shadow: 0 0 0 6px rgba(47, 182, 54, 0.60);
    box-shadow: 0 0 0 6px rgba(47, 182, 54, 0.60);
}

/*mini-search (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Select (elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/

/*------Select input ---------*/
.a_select select:disabled{background:#000}
.a_select input:disabled{background:#000}
.a_select select,.a_select input{background:#000;border:1px solid #16a366;color:yellow;}
.a_select:before{color:#16a366}
.a_select:hover::before{color:#aa00a2;}
.a_select.disable:hover::before{color:#aa00a2}

/*---Eventos select-----*/
.a_select>select:focus{border-color:#aa00a2;}
  
.a_select > select:-webkit-autofill:active,
.a_select > select:-webkit-autofill:focus
{-webkit-box-shadow: 0 0 0px 1000px white inset;}


/*Fin Select (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Switch (elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/

.switch:empty+label{background-color:#ff4600;}
.switch+label:before{background-color:#888;border:1px solid #000}
.switch+label:after{background-color:#000}
.switch:checked+label:before{background-color:#34d056;}
.switch:checked+label:after{background-color:#000;}

/*//////////////////////////////////////////////////////////*/
/*custom checked*/
.a_checkbox~label{color:#fff}
.a_checkbox:empty~label:before{background:#ccc;border:1px solid #bbb}
.a_checkbox:checked~label:before{background:#2c77ba;border:1px solid #1f98c7}

/*//////////////////////////////////////////////////////////*/
/*custom-radios*/
.a_radio~label:before{background:#252525;border:6px solid #CCCCCC!important}
.a_radio:checked~label:before{background:#fff;border-color:#2c77ba!important}
.a_radio:checked+label{color:#ff0!important}

/*Fin Switch (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Tabla (elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/

.a_tabla{border:1px solid #00f; color:#fff;}
.a_tabla th,td{border-top:1px solid #00f}
.a_tabla th{color:#f0f;border:none;border-bottom:2px solid #00f}
.a_tabla tr:nth-child(even){background-color:#333}
.a_tabla tr:nth-child(odd){background-color:#000}

/*Fin Tabla (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Tabs (elemento)*/
/*■■■■■■■■■■■■■■■*/

.contenedor_tabs{box-shadow:inset 0 -1px 0 0 #ccc;background:#000}
.contenedor_tabs ul{color:#ccc}

.contenedor_tabs > ul > li{
    background:#000;
    box-shadow: inset 0 -1px 0 0 #ccc,inset -1px 0 0 0 #ccc;
}

.contenedor_tabs>ul>li:after{background:#7fde49}
.contenedor_tabs>ul>li:hover{background:rgba(255,255,255,.2);color:#7fde49}

.contenedor_tabs > ul > li.active_tab { /*tab activa*/
    background: #111;
    color:#7fde49;
    box-shadow: inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc;
}

/*Fin Tabs (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Text Area (elemento)*/
/*■■■■■■■■■■■■■■■*/

.text_area{border:1px solid #ccc}
.text_area:focus{
    border:1px solid  #3f9f43;
    box-shadow: 0 0 4px rgb(75 , 187, 79) ;
}

/*Fin Text Area (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Footer (Directiva)*/
/*■■■■■■■■■■■■■■■■■■*/

.a_footer,.a_mini_footer
{background:#000000 !important;color:#eee!important}
.sub_footer1,.a_mini_footer > div:first-child
{background:rgba(255,255,255,0.05)!important}
.sub_footer2{color:#eee}

.sub_footer1>div{color:#eee}
.sub_footer1>div>hr{border:1px solid rgba(255,255,255,.2)}
.sub_footer1>div>p{color:#eee}
.sub_footer1>div>p:first-child{font-size:1.1em}
.f_link{color:#eee;cursor:pointer}
.ico_f{color:#eee}
.ico_f:hover,.f_link:hover{color:#5ab6ae}

.a_mini_footer>div:first-child{box-shadow:0 2px 3px 0 #000000!important}

/*Fin Footer (Directiva)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Uploader (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■*/

.uploader {
    background-color: #cccccc;
    outline: 2px dashed #cccccc;
}

.uploader label{color:rgba(0,0,0,.8)}
.uploader>span{color:rgba(0,0,0,.8)}

.uploader.dragging {
    outline-color: red;  
    background-color: rgba(0, 0, 0, 0.8);
}
.uploader.dragging>span{color:#1e6db9}
.uploader.loaded>span{color:#3bc742}
.uploader.loaded{outline-color:#3bc742}

#progress_bar .percent {
    background-color: #3bc742;
    color:white;
}

/*Fin Uploader (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/

/*-----------------------------------------------------*/
/*animacion de carga */
.loader {
  background: #2df1a3;
  background: -moz-linear-gradient(left, var(--negro) 10%, rgba(0, 0, 0, 0) 82%);
  background: -webkit-linear-gradient(left, var(--negro) 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, var(--negro) 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left,var(--negro) 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #2df1a3 10%, rgba(45, 241, 163, 0.00) 42%);
  }
.loader:before {  
  background: #1bba93;
  }
.loader:after {
  background: var(--negro);  
}
/*-----------------------------------------------------------*/
/*estilos web legem*/

/*Titulos para los contenidos*/
.titulo {
    color: var(--blanco);
    background: rgba(45, 241, 163, 0.7);
}
.titulo_login {
    color: var(--blanco);
    background: rgba(15, 116, 91, 0.5);
}

/*menesajes de validacion*/
.a_validacion{
    color: rgb(253, 191, 67);  
}

#campos{
 
    color:rgb(253, 191, 67);
}

/*TEXTO PARA LOS LABELS*/
.texto_labels{   
    color:rgb(243, 197, 15)!important;    
}
.texto_labels.green{
    color:rgb(243, 197, 15);
}
.subtitulos_labels{ 
    color:rgb(243, 197, 15)!important;    
}
.divisor_gestion_documental{
    border: solid 1px #434e58;
}

/*pagina principal*/

.ir_arriba {
    background:rgba(153, 229, 103, 0.7);
    color:rgba(0,0,0, 0.9);
}
 
/*----------------------------------------------*/
/*pagina_principal_contraste.css no tiene ningun elemento con color, body background con imagen*/

/*principal.css no tiene ningun elemento con color, body background con imagen*/
.contenido_principal:before {
    /*background-image: url('../../recursos/header/VIPRI-noche.jpg');*/
    background-image: url('../../recursos/header/noche.jpg');
   
}

/*----------------------fin gestion documental-----------------------------------*/

.figura_logo{
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.85));
    filter        : drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.85));
}


.nombre_pagina {
    color:#fff;
    text-shadow: 1px 1px 2px rgba(140,140,140,0.6), -1px -1px 3px rgba(140,140,140,0.6);
}
#svg_image {
    stroke:#460700;
    fill:#810c00;
}


 /*---------------------------------fin header2--------------------*/
 /*informacion documento no tiene elementos con color*/

 /*login*/
.contenedor_login{
    box-shadow:0 0 0 1px rgba(0, 0, 0, 0.05),0 1px 2px rgba(0, 0, 0, 0.3);   
}

    .contenedor_login:before {
        background-image: url('../../recursos/índice2.png');
    }

.form_login{
    background:rgba(0, 0, 0, 0.9);
}
.mensaje_login{ 
    color:blueviolet;
    border-bottom: 1px solid #bbb;
}

 /*------------------------------fin lOGIN --------------*/
 
/*usuarios*/
/*###### Control Roles #######*/
.contenedor_permisos {
    border:1px solid var(--gris);
}

.contenedor_permisos p{
    color:#CFD6E5;
}
.estado_permiso {
    color: rgb(253, 191, 67) !important;
}

.titulo_modulo{
    border-bottom:1px solid #ccc;
    background:rgba(102, 102, 102, 0.41);
}

.titulo_modulo p{
    color:var(--btn) !important;
}

/*###### Control Usuarios #######*/


/**********************/
.foto_usuarios{
    border:1px solid var(--gris);
}
.foto_usuarios > span{
    color:var(--gris);
}

/*--------------------------------fin-usuarios---------------------------*/
/*tapiz modulo adminnistracion */
#tapiz_administracion{
    background:#111;
}

/*triangulo escudo*/

.olvide_contraseña{
    color:#c83d3d;
}
/*login*/
#box_input_login{
     background:red;
}
