/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Layout General ■■■■■■■■■■■■■■■*/

.tapiz {
    /*background-image: url('../../recursos/header/dark_Tire.png');*/
    background-color:#1C2D38 !important;
}

.tapiz_contenido{
   background:rgba(0,0,0,0.59);
   box-shadow:-2px 10px 30px 1px #000, 0 1px 2px #000 ;
 }

.box_left{box-shadow:1px 0 0 #faf}
.controles_box_right{border-bottom:solid 1px #ccc}
.controles_box_right.down{border-top:solid 1px #ccc}

/*■■■■■■■■■■■■ Fin Layout General ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Busqueda (plantilla) ■■■■■■■■■■■■■■■*/

.contenedor_filtros{background:rgba(0,0,0,0.59)}
.contenedor_filtros>p{color:#8ff;border-bottom:2px solid #faf}

.right_busqueda{background:rgba(0,0,0,0.59)}
.box-sort-busqueda{border-bottom:1px solid #aaa;border-top:1px solid #aaa}

/*-----Contenedor Resultados---------*/
.res_bus{padding:0 50px}
.desc_res{border-bottom:1px solid #8ff;color:#8ff;}

/*--------Mensajes Busqueda-------*/
.mensaje_busqueda{color:#cfd6e5;border:1px dashed #9a9797}
.mensaje_busqueda span{color:#cfd6e5}

/*-------Dibujo Busqueda----------*/
.dibujo_busqueda span{color:#cfd6e5}

/*■■■■■■■■■■■■ Fin Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Butom ■■■■■■■■■■■■■■■*/

/*---------Estilos para Botones----------*/
.btn_con_ico{
    background-color: #dcf8c7 !important;
	color: #04230a !important;
}

.btn_con_ico:hover{background-color:#a7d4a4 !important}
.btn_con_ico:active{background-color:#91bf8e !important}

/*...................................*/
.btn_con_ico.azul{background-color:#2980b9}
.btn_con_ico.azul:hover{background-color:#3498db}
.btn_con_ico.azul:active{background-color:#27649b}
/*...................................*/
.btn_toggle{/*PENDIENTELKADJALKSDJASLKDJASLDJASLKDJASKLDJASKLDJASLKDJALKSJDLKASJDDKHFGJDASKDQIOEIOHSKJDFBZJKFHSKJ*/
    background-color: transparent;
    color:#666;
    border:solid 1px #aaa;
}
.btn_toggle:hover{
    background-color: #EEEEEE;
    box-shadow:inset 0 0 0 1px #aaa;
}
.btn_toggle:active{background-color:#ccc}

.btn_toggle.activo{
    background-color: #EEEEEE;
    box-shadow:inset 0 0 0 1px #aaa;
    color:#2c77ba;
}

.btn_toggle.ico{box-shadow:inset 0 0 0 1px #aaa}

/*---------------------------------*/
.tamano_botones_1{background:rgba(0,0,0,.08)}

.btn_sin_ico{
    background-color: #DCF8C7 !important;
	color: #04230a !important;
}
.btn_sin_ico:hover,.btn_ico:hover{background-color:#A7D4A4 !important}
.btn_sin_ico:active,.btn_ico:active{background-color:#91bf8e !important}

/*-----Btn solo Ico-----*/

.btn_ico{background:#dcf8c7 !important}
.btn_ico>span:before{color:#04230a !important}

/*--Fin Btn solo Ico-----*/

/*■■■■■■■■■■■■ Fin Butom ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*■■■■■■■■■■■■ Resultado Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/
/*--------  Tarjeta Noticias -------*/
.titulo_tarjeta a{
    color:#7fde49 !important;
    -moz-text-decoration-color: #7fde49 !important;
    text-decoration-color: #7fde49 !important;
}

.contenido_tarjeta{color:#fff !important}
.subcontenido_tarjeta{color:#C6E2EE !important}
.control_tarjeta{border-bottom:1px solid #ccc !important}
.control_tarjeta>a{color:#7fde49 !important}
/*-----Fin Tarjeta Noticias -------*/   

/* -----------------modal anotaciones------------------ */
.tarjeta_anotacion{
    background:#fefefe;
    box-shadow: 0 0 0 1px #ddd,1px 1px 1px rgba(0, 0, 0, 0.44)  ;
}

.tarjeta_anotacion>div:first-child span:before{color:#2c77ba}

.tarjeta_anotacion:hover{background:#c6e2ee}

/*==========================================*/
.documento_actual{background:#fff;border:1px solid #dde}

.documento_actual>div:first-child span:before{color:#27ae60}

.documento_actual>div:last-child>p:first-child{color:#27ae60}

.documento_actual p{color:#555}
/*==========================================*/
.titulo_tarjeta.anotacion a{color:#2c77ba}
/*==========================================*/
.subcontenido_tarjeta.anotacion{color:#34495e}
/*==========================================*/
.tipo_anotacion p{color:#34495e}
 
/*■■■■■■■■■■■■ Fin Resultado Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Filtro Busqueda ■■■■■■■■■■■■■■■*/

/*---------Lista de Filtros---------*/
.lista_filtro li div:first-child{border:1px dotted rgba(153,153,153,.4)} 
.tip{color:#fff !important}
.descripcion{color:#7fde49 !important}
/*------fin Lista de Filtros---------*/

/*----Boton para agregar----*/
.btn_search_avanzada{
    background:#a7d4a4 !important;
    color:#000;
}
.btn_search_avanzada:hover{background:#72be6d !important}
.btn_search_avanzada:active{background:#91bf8e !important}
/*----Fin boton para agregar----*/

/*----Boton para eliminar----*/
.btn_delete_avanzada{background:#dc4747;color:#fff}
.btn_delete_avanzada:hover{background:#ff5b5b}
.btn_delete_avanzada:active{background:#8f0000}
/*----Fin boton para eliminar----*/

/*■■■■■■■■■■■■ Fin Filtro Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ Sort Busqueda ■■■■■■■■■■■■■■■*/

.bar_ordenamiento li{color:#fff !important}

.bar_ordenamiento li.active_filter{ 
    box-shadow: 0 3px 0 #7fde49 !important;
    color:#7fde49 !important;
    border-color:#7fde49!important;
}

.bar_ordenamiento li:hover{box-shadow:inset 0 -2px 0 #7fde49!important}
.sort-avanzada.activo{color:#fff;box-shadow:0 0 0 1px #7fde49 inset!important}

/*■■■■■■■■■■■■ Fin Sort Busqueda ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/

/*===============================================================================================================================*/
/*■■■■■■■■■■■■ news (plantilla) ■■■■■■■■■■■■■■■*/

.a_news {
    background-image: url('../../recursos/header/fondo_news_alto.jpg')!important;
    background-size: cover;
    border-bottom: 5px solid #aaa;
}

.titulo_news{
    color:#8FF;
    background:rgba(0, 0, 0, 0.3);
    box-shadow:0 -3px 10px 2px rgba(0, 0, 0, 0.3);
    border-bottom:1px solid #ccc;
}

.tarjeta_news{ 
    box-shadow:0 0 0 1px rgba(35, 180, 74, 0.4),0 1px 2px rgba(35, 180, 74, 0.4)!important;
    background:rgba(0, 0, 0, 0.59)!important;
}

/*■■■■■■■■■■■■ news (plantilla) ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*gadget_control_entidad*/
.iconos_control {
    color: #000;
    background:#00FFFF;
}
.panel_control {
    background: rgb(0, 0, 0);
    border:2px solid #aaa;
}
.a_bloques input:hover + label{
   box-shadow:#aaa 0 0 0 2px inset;
}
.a_bloques input:checked + label{
   box-shadow:#8ff 0 0 1px 2px inset; /*pendiente*/
}
.note { 
    background:#eee;
   -webkit-box-shadow: 0 0 1px #eee;
   -moz-box-shadow: 0 0 1px #eee;
   box-shadow: 0 0 1px #eee;
}
.note:before {
    border-color:#aaa #000; 
   -webkit-box-shadow: -1px 2px 1px #000 ;
   -moz-box-shadow: -1px 2px 1px #000;
   box-shadow: -1px 2px 1px #000;  
}
.a_bloques input:checked + label::after {
    text-shadow: 0 0 1px #8ff;
}
/*-----------------------------------*/


/*===============================================================================================================================*/
/*■■■■■■■■■■■■ input_text ■■■■■■■■■■■■■■■*/
.a_input,           /*input normal*/
.input_text_btn,    /*Input con boton*/
.input_text_ico     /*Input con icono como en filtros busqueda ó como el de login*/
{/*border:1px solid #faf3dd !important;*/
 background:rgba(52,71,79,0.5 )!important;
 color:#faf !important;
}

/*Eventos de los inputs*/

.input_text_btn:focus:hover, 
.input_text_btn:focus:hover ~ button,
.input_text_ico:focus ~ button:active
{
    border-color:#faf!important;
    background:rgba(52,71,79,0.5)!important;   
}

.input_text_btn:focus~button:hover{background:#000;color:#faf;!important}

/*------ hover para los input -------*/
.a_input:hover,
.input_text_ico:hover,
.input_text_btn:hover,
.input_text_btn:hover ~ button{
    border-color:#8ff !important;
    background:#000 !important;
}

/*---- placeholder en mozilla y chrome ----*/
.a_input:focus::-moz-placeholder,
.input_text_ico:focus::-moz-placeholder,
.input_text_btn:focus::-moz-placeholder{
    color: #faf3dd !important;
    background:#000 !important;
}

.a_input:focus::-webkit-input-placeholder,
.input_text_ico:focus::-webkit-input-placeholder,
.input_text_btn:focus::-webkit-input-placeholder
{
    color:#faf3dd !important;
    background:#000 !important;
}


.a_input::-moz-placeholder,
.input_text_ico::-moz-placeholder,
.input_text_btn::-moz-placeholder{
    color: #8ff !important;
    background:#000 !important;
}

.a_input::-webkit-input-placeholder,
.input_text_ico::-webkit-input-placeholder,
.input_text_btn::-webkit-input-placeholder
{
    color:#8ff !important;
    /*background:#000 !important;*/
}
/* ---FIN placeholder en mozilla y chrome----*/

.a_input:-webkit-autofill,
.input_text_btn:-webkit-autofill 
.input_text_ico:-webkit-autofill 
{
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
}

/*Input con evento FOCUS .......................................*/
.a_input:focus,
.input_text_ico:focus,
.input_text_btn:focus, 
.input_text_btn:focus ~ button{
    border-color:#faf !important;
    background:#000 !important;
    color:#fbf !important;
}
  
.a_input:-webkit-autofill:active,
.a_input:-webkit-autofill:focus,
.input_text_ico:-webkit-autofill:active,
.input_text_ico:-webkit-autofill:focus,
.input_text_btn:-webkit-autofill:active,
.input_text_btn:-webkit-autofill:focus
 {-webkit-box-shadow: 0 0 0px 1000px #000 inset;}


.ico_input_text{background:#0f745b;color:#fff;}/*pendiente*/
.btn_cancel{  
    background:#000;
    border:1px solid #faf;
    border-left:none !important;
    color:#b8ed95;
}

.btn_cancel:disabled{background:#000}
.btn_cancel span{color:#b8ed95;}

/*■■■■■■■■■■■■ Fin input_text ■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Listado (elemento)*/
/*■■■■■■■■■■■■■■■■■■*/

.a_listado li{border:1px solid #aaa;border-top:none;}
.a_listado li:first-child{border-top:1px solid #aaa}
label.styled{color:#fff}
label.styled:hover{background-color:rgba(255, 255, 255, 0.3);}
label.styled>p{color:#b0f563}
/* :: CHECKED :: */
input.styled:checked~label.styled{background-color:rgba(0, 0, 0, 0.8)}
label.styled:before{color:#000;background-color:#a7d4a4}

/*Fin Listado (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*mini-search (elemento)*/
/*■■■■■■■■■■■■■■■■■■*/

.mini_search{
    -webkit-box-shadow: 0 0 0 8px rgba(176, 226, 226, 0.30);
    -moz-box-shadow: 0 0 0 8px rgba(176, 226, 226, 0.30);
    box-shadow: 0 0 0 8px rgba(176, 226, 226, 0.30);
}
.mini_search input{color:#444;background:#fff}
.mini_search button:hover{background:rgba(47,182,54,0.6)}
.mini_search button{background:#a7d4a4;color:#000}

.mini_search.animacion_mini_search {
    -webkit-box-shadow: 0 0 0 6px rgba(47, 182, 54, 0.60);
    -moz-box-shadow: 0 0 0 6px rgba(47, 182, 54, 0.60);
    box-shadow: 0 0 0 6px rgba(47, 182, 54, 0.60);
}

/*mini-search (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Select (elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/

/*------Select input ---------*/
.a_select select:disabled{background:rgba(52,71,79,0.5)}
.a_select input:disabled{background:rgba(52,71,79,0.5)}
.a_select select,.a_select input{background:rgba(52,71,79,0.8);border:1px solid #fff;color:#f191f1;}
.a_select:before{color:#8ff}
.a_select:hover::before{color:#faf;}
.a_select.disable:hover::before{color:#faf}

/*---Eventos select-----*/
.a_select>select:focus{border-color:#faf;}
  
.a_select > select:-webkit-autofill:active,
.a_select > select:-webkit-autofill:focus
{-webkit-box-shadow: 0 0 0px 1000px white inset;}


/*Fin Select (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Switch (elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/

.switch:empty+label{background-color:#8ff;}
.switch+label:before{background-color:#fff;border:1px solid #000}
.switch+label:after{background-color:#000}
.switch:checked+label:before{background-color:#91bf8e;}
.switch:checked+label:after{background-color:#000;}

/*//////////////////////////////////////////////////////////*/
/*custom checked*/
.a_checkbox~label{color:#29022c}
.a_checkbox:empty~label:before{background:#EEEEEE;border:1px solid #970C97}
.a_checkbox:checked~label:before{background:#DCF8C7;border:1px solid #91BF8E} /*pendiente*/

/*//////////////////////////////////////////////////////////*/
/*custom-radios*/
.a_radio~label:before{background:#FFF;border:6px solid #6c6767!important} /*pendiente*/
.a_radio:checked~label:before{background:#fff;border-color:#45c8a8 !important}
.a_radio:checked+label{color:#fff !important}

/*Fin Switch (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Tabla (elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■

.a_tabla{border:1px solid #00f; color:#fff;}  /*pendiente todo
.a_tabla th,td{border-top:1px solid #00f}
.a_tabla th{color:#f0f;border:none;border-bottom:2px solid #00f}
.a_tabla tr:nth-child(even){background-color:#333}
.a_tabla tr:nth-child(odd){background-color:#000}

/*Fin Tabla (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Tabs (elemento)*/
/*■■■■■■■■■■■■■■■*/

.contenedor_tabs{box-shadow:inset 0 -1px 0 0 #ccc;background:rgba(0,121,107,1)}
.contenedor_tabs ul{color:#fff}

.contenedor_tabs > ul > li{
    background:rgba(0,121,107,0.6);
    box-shadow: inset 0 -1px 0 0 #ccc,inset -1px 0 0 0 #ccc;
}

.contenedor_tabs>ul>li:after{background:rgba(0,121,107,1)}
.contenedor_tabs>ul>li:hover{background:rgba(255,255,255,.2);color:#d6e587}

.contenedor_tabs > ul > li.active_tab { /*tab activa*/
    background:#00d2ba;
    color:#041f04;
    box-shadow: inset 0 1px 0 0 #ccc,inset -1px 0 0 0 #ccc;
}

/*Fin Tabs (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Text Area (elemento)*/
/*■■■■■■■■■■■■■■■*/

.text_area{border:1px solid #ccc}
.text_area:focus{
    border:1px solid  #3f9f43;
    box-shadow: 0 0 4px rgb(75 , 187, 79) ;
}

/*Fin Text Area (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Footer (Directiva)*/
/*■■■■■■■■■■■■■■■■■■*/

.a_footer,.a_mini_footer
{background:#000000 !important;color:#eee!important}
.sub_footer1,.a_mini_footer > div:first-child
{background:rgba(255,255,255,0.05)!important}
.sub_footer2{color:#eee}

.sub_footer1>div{color:#eee}
.sub_footer1>div>hr{border:1px solid rgba(255,255,255,.2)}
.sub_footer1>div>p{color:#eee}
.sub_footer1>div>p:first-child{font-size:1.1em}
.f_link{color:#eee;cursor:pointer}
.ico_f{color:#eee}
.ico_f:hover,.f_link:hover{color:#5ab6ae}

.a_mini_footer>div:first-child{box-shadow:0 2px 3px 0 #000000!important}

/*Fin Footer (Directiva)*/
/*■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/


/*===============================================================================================================================*/
/*Uploader (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■*/

.uploader {
    background-color: #000; /*pendiente gestion documental todo*/
    outline: 2px dashed #8ff;
}

.uploader label{color:#fff}
.uploader>span{color:#fff}

.uploader.dragging {
    outline-color: red;  
    background-color: rgba(0, 0, 0, 0.8);
}
.uploader.dragging>span{color:#e5e5e5}
.uploader.loaded>span{color:#8ff}
.uploader.loaded{outline-color:#8ff}

#progress_bar .percent {
    background-color: #8ff;
    color:#000;
}

/*Fin Uploader (Elemento)*/
/*■■■■■■■■■■■■■■■■■■■■■■■*/
/*===============================================================================================================================*/

/*-----------------------------------------------------*/
/*animacion de carga */
.loader {
  background: #2df1a3;
  background: -moz-linear-gradient(left, #000 10%, rgba(0, 0, 0, 0) 82%);
  background: -webkit-linear-gradient(left, #000 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #000 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left,#000 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #2df1a3 10%, rgba(45, 241, 163, 0.00) 42%);
  }
.loader:before {  
  background: #1bba93;
  }
.loader:after {
  background: #000;  
}
/*-----------------------------------------------------------*/
/*estilos web legem*/

/*Titulos para los contenidos*/
.titulo {
    color: #fff;
    background: rgba(45, 241, 163, 0.7);
}
.titulo_login {
    color: #fff;
    background: rgba(15, 116, 91, 0.5);
}

/*menesajes de validacion*/
.a_validacion{
    color: rgb(253, 191, 67);  
}

#campos{
 
    color:rgb(253, 191, 67);
}

/*TEXTO PARA LOS LABELS*/
.texto_labels{   
    color:#8ff!important;    
}
.texto_labels.green{
    color:#8ff;
}
.subtitulos_labels{ 
    color:#8ff !important;    
}
.divisor_gestion_documental{
    border: solid 1px #ccc !important;
}

/*pagina principal*/

.ir_arriba {
    background:rgba(153, 229, 103, 0.7);
    color:rgba(0,0,0, 0.9);
}
 
/*----------------------------------------------*/
/*pagina_principal_contraste.css no tiene ningun elemento con color, body background con imagen*/

/*principal.css no tiene ningun elemento con color, body background con imagen*/
.contenido_principal:before {
    background-image: url('../../recursos/header/VIPRI-noche.jpg');
}

/*----------------------fin gestion documental-----------------------------------*/

.figura_logo{
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.85));
    filter        : drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.85));
}


.nombre_pagina {
    color:#fff;
    text-shadow: 1px 1px 2px rgba(140,140,140,0.6), -1px -1px 3px rgba(140,140,140,0.6);
}
#svg_image {
    stroke:#460700;
    fill:#810c00;
}


 /*---------------------------------fin header2--------------------*/
 /*informacion documento no tiene elementos con color*/

 /*login*/
.contenedor_login{
    box-shadow:0 0 0 1px rgba(0, 0, 0, 0.05),0 1px 2px rgba(0, 0, 0, 0.3);   
}

    .contenedor_login:before {
        background-image: url('../../recursos/índice2.png');
    }

.form_login{
    background:rgba(0, 0, 0, 0.9);
}
/*.mensaje_login{ 
    color:blueviolet;
    border-bottom: 1px solid #bbb;
}*/

 /*------------------------------fin lOGIN --------------*/
 
/*usuarios*/
/*###### Control Roles #######*/
.contenedor_permisos {
    border:1px solid #fff;
}

.contenedor_permisos p{
    color:#CFD6E5;
}
.estado_permiso {
    color: #faf !important;
}

.titulo_modulo{
    border-bottom:1px solid #ccc;
    background:rgba(102, 102, 102, 0.41);
}

.titulo_modulo p{
    color:#cfd6e5 !important;
}

/*###### Control Usuarios #######*/

.box_right p{
    color: #fff;
}
/**********************/
.foto_usuarios{
    border:1px solid #eee;
}
.foto_usuarios > span{ /*pendiente q hace*/
    color:red;
}

/*--------------------------------fin-usuarios---------------------------*/
/*tapiz modulo adminnistracion */
#tapiz_administracion{
    background:rgba(0,0,0,0.59);
}

/*triangulo escudo*/

.olvide_contraseña{
    color:#c83d3d;
}
/*login*/
#box_input_login{
     background:rgba(52,71,79,0.5);
}
