<!----------------------------------------------------------------------------------------------------------------------->
<div class="box-progress">
    <div>
        <p class="titulo-progress">{{vm.actual[0].titulo}}</p>

        <div class="wl-progreso-content">
        </div>

        <div class="step-step">
            <h5>{{vm.index}}/{{vm.totalIndex}}</h5>
        </div>
    </div>
</div>
<!----------------------------------------------------------------------------------------------------------------------->
