<div class="contenido_gd animatio ng-enter" id="holas">
    <label class="titulo">Crear Documento</label>
    <div>
        <label class="subtitulos_labels">
            Asunto
        </label>
        <hr class="divisor_gestion_documental" />
        <form class="tontera">            
            <ng-quill-editor 
                             ng-model="vm.documento.asunto" toolbar="true" link-tooltip="true" image-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link image" editor-required="true" required="" error-class="input-error">
            </ng-quill-editor>

            <!--<button class="a_boton a_block" type="button" ui-sref="gestion-documental.crear-documento.pergunta-anotacion">Siguiente</button>-->
        </form>
        <div class="contenedor_back_next">
            <button class="btn_con_ico" ng-click="vm.aceptar()">
                <span class="ico-chevron-left tamano_botones_1"></span>Atras
            </button>
            <button class="btn_con_ico inverso" ng-click="vm.aceptar()">
                Siguiente<span class="ico-chevron-right tamano_botones_1 derecha"></span>
            </button>
        </div>
    </div>
</div>
