<div class="a_news" ng-controller="Homero as vm">

    <div class="titulo_news">

        <div>
            <p>Actualidad Documental</p>
        </div>

    </div>


    <div class="container_news">
        <div style="align-self:center;">
            <select class="select a_input" style="width:400px;" ng-model="vm.entidadFiltro" ng-change="vm.cargarDocumentos()">
                <option ng-repeat="entidad in vm.entidades" ng-value="entidad.nombre">{{entidad.nombre}}</option>
                <option ng-value="null">Ninguna</option>
            </select>
            <span class="span_select  ico-angle-down"></span>
            <button class="btn_sin_ico">ver todos</button>
        </div>

        <div class="news_left" style="display:flex; flex-wrap:wrap;" >

            <style>
                .ico-download span a {
                    color: gray;
                    text-decoration: none;
                }
            </style>


            <div style="width:100%;display:flex; flex-wrap:wrap;justify-content:space-between;margin:0 20px;">
                <div ng-if="true" class="tarjeta_news" ng-repeat="documento in vm.arregloDocs">

                    <div class="titulo_tarjeta">
                        <a ng-click="vm.ver(documento.archivo)">{{ documento.tipoDocumento }} {{ documento.numero }} del {{ documento.fecha }}</a>
                    </div>

                    <div class="contenido_tarjeta">
                        {{ documento.asunto | limitTo: 250: 200 }}
                    </div>

                    <div class="subcontenido_tarjeta">
                        <a>Entidad: <i>{{ documento.entidad }} </i> | </a>
                        <a>Fecha: <i>{{ documento.fecha  }} </i> | </a>
                    </div>

                    <div class="control_tarjeta">
                        <a href="http://localhost:50555/api/Files/{{ documento.archivo }}">
                            <span class="ico-download"></span>Descargar
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
