<div class="filtros_busqueda">
        <ul class="lista_filtro">

            <!--********************************************************************************-->

            <li ng-show="vm.entidadEmisora">
                <div>
                    <p class="tip">{{vm.language.strings.EntidadEmisora}}:</p>
                    <p class="descripcion">{{vm.entidadEmisora}}</p>
                </div>
                <div>
                    <button id="fba_4" class="btn_delete_avanzada" ng-click="vm.entidadEmisora = ''; vm.buscar(vm.palabrasABuscar);">
                        <span class="ico-times-circle"></span>
                    </button>
                </div>
            </li>

            <!--********************************************************************************-->

            <li ng-show="vm.tipoDocumento">
                <div>
                    <p class="tip">{{vm.language.strings.TipoDocumento}}:</p>
                    <p class="descripcion">{{vm.tipoDocumento}}</p>
                </div>
                <div>
                    <button id="fba_1" class="btn_delete_avanzada" ng-click="vm.tipoDocumento = ''; vm.buscar(vm.palabrasABuscar);">
                        <span class="ico-times-circle"></span>
                    </button>
                </div>
            </li>

            <!--********************************************************************************-->

            <li ng-show="vm.numero">
                <div>
                    <p class="tip">{{vm.language.strings.NumeroDocumento}}:</p>
                    <p class="descripcion">{{vm.numero}}</p>

                </div>
                <div>
                    <button id="fba_2" class="btn_delete_avanzada"
                            ng-click="vm.numero = !vm.numero; vm.buscar(vm.palabrasABuscar);">
                        <span class="ico-times-circle"></span>
                    </button>
                </div>
            </li>

            <!--********************************************************************************-->

            <li ng-show="vm.fechaPublicacion">
                <div>
                    <p class="tip">{{vm.language.strings.AnoPublicacion}}:</p>
                    <p class="descripcion">{{vm.fechaPublicacion}}</p>
                </div>
                <div>
                    <button id="fba_3" class="btn_delete_avanzada" ng-click="vm.fechaPublicacion = ''; vm.buscar(vm.palabrasABuscar);">
                        <span class="ico-times-circle"></span>
                    </button>
                </div>
            </li>

            <!--********************************************************************************-->

        </ul>
    </div>

    <div class="form_busqueda_ava">
        <!----------------------------------------------------------------------------------------------------->

        <label class="subtitulos_labels animacion_filtro" ng-show="!vm.entidadEmisora ">{{vm.language.strings.EntidadEmisora}}</label>
        <div class="box_input_ico animacion_filtro" ng-show="!vm.entidadEmisora">
            <div>
                <div class="a_select">
                    <select type="text" ng-options="entidad.nombre as entidad.nombre for entidad in vm.entidades | orderBy: 'nombre'"
                            ng-model="vm.entidadEmisoraAux"></select>
                </div>
            </div>

            <div>
                <button class="btn_search_avanzada" ng-click="vm.entidadEmisora = vm.entidadEmisoraAux; vm.buscar(vm.palabrasABuscar);">
                    <span class="ico-plus"></span>
                </button>
            </div>
        </div>

        <!----------------------------------------------------------------------------------------------------->

        <label class="subtitulos_labels animacion_filtro" ng-show="!vm.tipoDocumento">{{vm.language.strings.TipoDocumento}}</label>
        <div class="box_input_ico animacion_filtro" ng-show="!vm.tipoDocumento">
            <div>
                <div class="a_select">
                    <select type="text" placeholder="{{vm.language.strings.EscribaEntidadEmisora}}" ng-model="vm.tipoDocumentoAux"
                            ng-options="tipoDocumento.nombre as tipoDocumento.nombre for tipoDocumento in vm.tiposDocumento| orderBy: 'nombre'"></select>
                </div>
            </div>
            <div>
                <button class="btn_search_avanzada"
                        ng-click="vm.tipoDocumento = vm.tipoDocumentoAux; vm.buscar(vm.palabrasABuscar);">
                    <span class="ico-plus"></span>
                </button>
            </div>
        </div>

        <!----------------------------------------------------------------------------------------------------->

        <label class="subtitulos_labels animacion_filtro" ng-show="!vm.numero">{{vm.language.strings.NumeroDocumento}}</label>
        <div class="box_input_ico animacion_filtro" ng-show="!vm.numero">
            <div>
                <input type="text" class="input_text_ico" maxlength="10"
                       name="numero" id="numero" ng-model="vm.numeroAux"
                       placeholder="{{vm.language.strings.EscribaNumeroDocumento}}" />
            </div>
            <div>
                <button class="btn_search_avanzada"
                        ng-click="vm.numero = vm.numeroAux; vm.buscar(vm.palabrasABuscar);">
                    <span class="ico-plus"></span>
                </button>
            </div>
        </div>

        <!----------------------------------------------------------------------------------------------------->

        <label class="subtitulos_labels animacion_filtro" ng-show="!vm.fechaPublicacion ">{{vm.language.strings.AnoPublicacion}}</label>
        <div class="box_input_ico animacion_filtro" ng-show="!vm.fechaPublicacion">
            <div>
                <input type="number" class="input_text_ico" max="9999" min="1901" step="1" maxlength="4"
                       name="anioPublicacion" id="anioPublicacion" ng-model="vm.anioPublicacionAux"
                       placeholder="{{vm.language.strings.EscribaAnoPublicacion}}" />
            </div>
            <div>
                <button class="btn_search_avanzada"
                        ng-click="vm.fechaPublicacion = vm.anioPublicacionAux; vm.buscar(vm.palabrasABuscar);">
                    <span class="ico-plus"></span>
                </button>
            </div>
        </div>

        <!----------------------------------------------------------------------------------------------------->

    </div>
