<div>    

    <!---------------Paso1-------------------------------------------------------------------------------------------------------->
    <div class="box_father ani-pasos" ng-show="vm.index==0">
        <div class="box_left">
            <label class="ca_label_busqueda">{{vm.language.strings.SeleccionarDocumentoAnota}}:</label>
            <wl-buscar-doc documentos="vm.documentos" accion="vm.buscar"></wl-buscar-doc>
        </div>

        <div class="box_right">
            <label class="msj-error"> {{vm.language.strings.NoEncontroDocumentoConIdentificacion}} </label>
            <wl-lista-doc-encontrado documentos="vm.documentos"
                    accion="vm.seleccionarDocumentoAnotante"></wl-lista-doc-encontrado>
        </div>
    </div>

    <!----------Paso2------------------------------------------------------------------------------------------------------------->

    <div class="box_father ani-pasos" ng-show="vm.index==1">
        <div class="box_left flex-3">
            <label class="ca_label_busqueda">{{vm.language.strings.VistaPreviaDocumento}}</label>
            <iframe ng-show="true"
                    src="recurso.pdf"
                    class="de-vpdf none-mt" frameborder="0"></iframe>
        </div>
        <div class="box_right">
            <label class="msj-error">{{vm.language.strings.NoEncontroConcordanciasAnotaciones}}  </label>
            <a ng-click="vm.ban_crear_anotacion = true" href="" title="{{vm.language.strings.CrearAnotacion}}">{{vm.language.strings.CrearAnotacion}}</a>
            <wl-lista-ano-encontrado documento="vm.documentoAnotante" anotaciones-encontradas="false">  </wl-lista-ano-encontrado>     
            <asociar-documento show="vm.ban_crear_anotacion"
                    anotacion="vm.anotacionSeleccionada"></asociar-documento>
        </div>
    </div>

    <!------------Controles----------------------------------------------------------------------------------------------------------->

    <div class="box_father">
        <div class="box_right">
            <div class="divisor-pasos" style="margin:10px 0;"><div></div></div>
            <div class="controles-crear-anotacion">
                <button class="btn_sin_ico" ng-click="vm.backStep()" ng-hide="vm.index==0">
                    {{vm.language.strings.Atras}}
                </button>
                <button class="btn_sin_ico" ng-click="vm.nextStep()" ng-hide="vm.index==0 || true">
                {{vm.language.strings.Siguiente}}  
                </button>                
            </div>
        </div>
    </div>

</div>