<div class="ca_label_busqueda">{{vm.language.strings.NAnotacionesEncontradas}} :</div>

<div class="box-contenido-la">
    <div class="lista-anotaciones" ng-repeat="i in [ {id:1,contenido:'hola mundo1'},
                                                        {id:2,contenido:'hola mundo2'},
                                                        {id:3,contenido:'hola mundodddddddddddd'}]">

        <div ng-hide="vm.ho_[{{i.id}}]" ng-click="vm.selectMetodo(i);">
            <div>
                <div><span class="ico-bookmark-o"></span></div>
                <div>
                    <div class="de-subcontenido">
                        <a>{{ datos.tipoDocumento }} {{ datos.numero }} {{vm.language.strings.del}} {{ datos.fecha }}</a>
                        <p>{{vm.language.strings.Entidad}}: <i>{{ datos.entidad }} </i></p>
                        <p>{{vm.language.strings.FechaPublicacion}}: <i>{{ datos.fecha  }} </i></p>
                        <p>{{vm.language.strings.TipoAnotacion}}: <i>{{ datos.fecha  }} </i></p>
                    </div>
                </div>
            </div>
            <div class="right-subcontenido-la">
                <button class="wla-detalles" ng-if="!vm.banEliminar" ng-click="vm.editar(i);$event.stopPropagation()">{{vm.language.strings.Editar}}</button>
                <button class="wla-detalles" ng-if="vm.banEliminar" ng-click="vm.eliminar(i);$event.stopPropagation()">{{vm.language.strings.Eliminar}}</button>
            </div>

        </div>
    </div>
</div>

<!--ventana modal para info anotacion-->

<wl-info show="vm.modalShown" title="{{vm.language.strings.DetalleAnotacion}}">
    <div class="a-modal-contenido">
        <span class="ico-bookmark marron"></span>
        <div class="info-anotacion">
            <a>{{ datos.tipoDocumento }} {{ datos.numero }} {{vm.language.strings.del}} {{ datos.fecha }}</a>
            <p>{{vm.language.strings.Entidad}}: <i>{{ datos.entidad }} </i></p>
            <p><{{vm.language.strings.FechaPublicacion}}: <i>{{ datos.fecha  }} </i></p>
            <p>{{vm.language.strings.TipoAnotacion}}: <i>{{ datos.fecha  }} </i></p>
            <p class="desc-anotacion-modal">{{vm.language.strings.Descripcion}}: <i>{{vm.info_anotacion}}</i> </p>
        </div>
    </div>
</wl-info>

