<div class="header" ng-class="vm.$state.current.name == 'home' ? 'transparente': 'solido'" id="header1">
     
    <wl-cinta-logo class="cinta-wl" ng-show="vm.$state.current.name == 'home'">
    </wl-cinta-logo>

    <wl-nombre-logo class="logo-wl2" ng-show="vm.$state.current.name == 'home'">
    </wl-nombre-logo>

    <wl-nombre-logo ng-show="vm.$state.current.name != 'home' || (!vm.loggeado && vm.$state.current.name == 'busqueda')">
    </wl-nombre-logo>


    <nav class="box-nav">
        <button id="toggle-menu" class="ico-bars" ng-click="vm.desplegarMenu();" title="menu"></button>


        <ul class="ul_nav">
            <!--Opciones para usuarios---------------------------------------------------------->
            <li class="li_nav" ng-show="vm.loggeado"
                ng-mouseover="vm.resize == true ? null : vm.toggle_menu = true"
                ng-mouseleave="vm.resize == true ? null : vm.toggle_menu = false"
                ng-click="vm.resize == true ? vm.toggle_menu = !vm.toggle_menu :null"
                >

                <a class="btn_menu sin_ani" href="" role="menu" ewl wl-p-enter="vm.toggle_menu = !vm.toggle_menu">
                    <div class=" ico-cubes"></div>
                    <p>{{vm.language.strings.Componentes}}</p>
                </a>
                
                <ul ng-show="vm.toggle_menu" class="desplegar">
                    <li ng-repeat="opcion in vm.arregloOpciones" ng-click="vm.resize && vm.desplegarMenu()">
                        <a class="btn_menu sub" ui-sref="{{opcion.link}}" href="#">
                            <div><span class="{{ opcion.icono }}"></span></div>
                            <p>{{ opcion.nombre }}</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!--Opciones generales-------------------------------------------------------------->
            <li ng-repeat="item in vm.arregloMenu" class="li_nav" ng-click="vm.resize && vm.desplegarMenu()">
                <a class="btn_menu" ui-sref="{{item.link}}" ng-show="{{item.condicion}}" ng-click="item.accion()">
                    <div class="{{item.icono}}"></div>
                    <p>{{item.nombre}}</p>
                </a>
            </li>
            <!--Opciones para cuenta de usuario------------------------------------------------->
            <li class="li_nav" ng-mouseover="vm.resize == true ? null: vm.toggle_usu = true "
                ng-mouseleave="vm.resize == true ? null: vm.toggle_usu = false "
                ng-click="vm.resize == true ? vm.toggle_usu = !vm.toggle_usu : null "
                ng-show="vm.loggeado">

                <a class=" btn_menu usu sin_ani" href="" ewl wl-p-enter="vm.toggle_usu = !vm.toggle_usu">
                    <div>{{vm.usuario.username}}</div>
                    <div><img src="{{vm.usuario.foto}}" /></div>
                </a>
                <ul ng-show="vm.toggle_usu" class="desplegar">
                    <li ng-click="vm.resize && vm.desplegarMenu()">
                        <a class="btn_menu sub" ui-sref="cuenta">
                            <div class="ico-cog"></div>
                            <p>{{vm.language.strings.ConfigurarCuenta}}</p>
                        </a>
                    </li>
                    <li ng-click="vm.resize && vm.desplegarMenu()">
                        <a class="btn_menu sub" ng-click="vm.LogOut()" href="">
                            <div class="ico-sign-out"></div>
                            <p>{{vm.language.strings.Salir}}</p>
                        </a>
                    </li>
                </ul>
            </li>
            
        </ul>
        
        <!--Opciones para Accesibilidad------------------------------------------------->
        <div class="box-accesibilidad" style=" height:55px; width:55px;"
             ng-mouseover="vm.resize == true ? null: vm.toggle_acce = true"
             ng-mouseleave="vm.resize == true ? null: vm.toggle_acce = false"
             ng-click="vm.resize == true ? vm.desplegarAcce() : null ">

            <a class=" btn_menu sin_ani" href="" ewl wl-p-enter="vm.toggle_acce = !vm.toggle_acce">
                <div class="ico-wheelchair"></div>
            </a>

            <ul class="content-accesibilidad" ng-show="vm.toggle_acce">
                <label><span class="ico2-contrast"></span>{{vm.language.strings.Contraste}}</label>
                <li>
                    <button class="boton_accesibilidad activo" ng-click="vm.funcion_contraste('bajo',$event)">
                        <span class="ico-sun-o"></span>
                    </button>

                    <button class="boton_accesibilidad" ng-click="vm.funcion_contraste('alto',$event)">
                        <span class="ico-moon-o"></span>
                    </button>

                </li>
                <label><span class="ico2-earth"></span>{{vm.language.strings.Idioma}}</label>
                <li>
                    <button class="boton_accesibilidad idioma activo" ng-click="vm.funcion_idioma('es',$event)">
                        <p>{{vm.language.strings.Espanol}}</p>
                    </button>
                    <button class="boton_accesibilidad idioma" ng-click="vm.funcion_idioma('en',$event)">
                        <p>{{vm.language.strings.Ingles}}</p>
                    </button>
                </li>
                <label><span class="ico2-font-size"></span>{{ vm.language.strings.tamanoFuente }}</label>
                <li>
                    <button class="boton_accesibilidad fuente1" ng-click="vm.funcion_tamano('fuente1',$event)">
                        <span class="ico-font"></span>
                    </button>
                    <button class="boton_accesibilidad fuente2" ng-click="vm.funcion_tamano('fuente2',$event)">
                        <span class="ico-font"></span>
                    </button>
                    <button class="boton_accesibilidad fuente3 activo" ng-click="vm.funcion_tamano('fuente3',$event)">
                        <span class="ico-font"></span>
                    </button>
                </li>
            </ul>
        </div>
    </nav>

</div>

<a href="" ng-click="vm.scrollTop2();" title="Ir arriba" class="ir_arriba" id="ir_arriba">
    <p class="ico-chevron-up"></p>
</a>