<div class="tapiz" >

    <div style="height:100px;"></div>

    <div class="tapiz_contenido">

        <div class="contenedor_tabs">
            <ul>

                <li ui-sref="anotacion.crear-anotacion"
                    ng-class="vm.$state.current.name =='anotacion.crear-anotacion' ? 'active_tab' : ''"
                    ng-click="vm.tabActivo($event);">
                    <span class="ico-plus">
                        <a>CREAR ANOTACION</a>
                    </span>
                </li>
                <li ui-sref="anotacion.eliminar-anotacion"
                    ng-class="vm.$state.current.name =='anotacion.eliminar-anotacion' ? 'active_tab' : ''"
                    ng-click="vm.tabActivo($event);">
                    <span class="ico-trash">
                        <a>ElIMINAR ANOTACION</a>
                    </span>
                </li>
                <li ui-sref="anotacion.editar-anotacion"
                    ng-class="vm.$state.current.name =='anotacion.editar-anotacion' ? 'active_tab' : ''"
                    ng-click="vm.tabActivo($event);">
                    <span class="ico-pencil">
                        <a>EDITAR ANOTACION</a>
                    </span>
                </li>

            </ul>
        </div>
        <div ui-view></div>
    </div>
</div>