<div class="tapiz" >

    <div class="espacio_blanco"></div>
    <wl-titulo-nav class="container_navigation"></wl-titulo-nav>
    <div class="tapiz_contenido">

        <div class="contenedor_tabs">
            <ul>

                <li ui-sref="anotacion.crear-anotacion"
                    ng-class="vm.$state.current.name =='anotacion.crear-anotacion' ? 'active_tab' : ''"
                    ng-click="vm.tabActivo($event);">
                    <span class="ico-plus">
                        <a>{{vm.language.strings.CrearAnotacionM}}</a>
                    </span>
                </li>
                <li ui-sref="anotacion.eliminar-anotacion"
                    ng-class="vm.$state.current.name =='anotacion.eliminar-anotacion' ? 'active_tab' : ''"
                    ng-click="vm.tabActivo($event);">
                    <span class="ico-trash">
                        <a>{{vm.language.strings.EliminarAnotacionM}}</a>
                    </span>
                </li>
                <li ui-sref="anotacion.editar-anotacion"
                    ng-class="vm.$state.current.name =='anotacion.editar-anotacion' ? 'active_tab' : ''"
                    ng-click="vm.tabActivo($event);">
                    <span class="ico-pencil">
                        <a>{{vm.language.strings.EditarAnotacionM}}</a>
                    </span>
                </li>

            </ul>
        </div>
        <div ui-view></div>
    </div>
</div>