<div class="box_father">

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~1-->
    <div class="box_left">
        <wl-lista-usuarios lista="vm.usuarios"
                           objeto-seleccionado="vm.usuarioSeleccionado"
                           editando="vm.editando">
        </wl-lista-usuarios>
    </div>


    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~2-->
    <div class="box_right">

        <wl-admin-crud objeto-seleccionado="vm.entidadSeleccionada"
                       editando="vm.editando"
                       nuevo="vm.nuevo"
                       eliminar="vm.remover">
        </wl-admin-crud>
        <modal-dialog show="vm.camaraToggle">
            <div class='ng-modal-close'>
                <button class="btn_ico" title="Cerrar dialogo" ng-click="vm.cerrarCamara()">
                    <span class="ico-times"></span>
                </button>
            </div>

            <div class="canvas_container">
                <video ng-show="vm.foto" id="camaraUsu" width="320" height="240" autoplay></video>
                <canvas ng-show="!vm.foto" id="fotoUsu" width="320" height="240"></canvas>
            </div>

            <div id="botonera">
                <button ng-show="vm.foto" class="btn_con_ico" ng-click="vm.snapshot(); vm.foto = !vm.foto;">
                    <span class="ico-camera tamano_botones_1"></span>Tomar foto
                </button>
                <button ng-show="!vm.foto" class="btn_con_ico" ng-click="vm.repetirFoto();vm.foto = !vm.foto;">
                    <span class="ico-camera tamano_botones_1"></span>Repetir foto
                </button>
                <button ng-show="!vm.foto" class="btn_con_ico" ng-click="vm.guardarFoto()">
                    <span class="ico-camera tamano_botones_1"></span>Guardar foto
                </button>
            </div>
        </modal-dialog>
        <div class="box_duo_input">
            <div>
                <p class="texto_labels green">Fotografia</p>
                <div class="box_fotografia">
                    <div class="foto_usuarios">
                        <span class="ico-user" ng-show="!vm.trash"></span>
                        <img src="" id="laimagen" ewl wl-load="vm.mostrarFoto();" />
                        <input type="file" id="input_usu_foto" />
                    </div>
                    <div class="botonera_camara">
                        <button class="btn_ico" title="Tomar foto" ng-click="vm.abrirCamara();">
                            <span class="ico-camera"></span>
                        </button>

                        <button class="btn_ico" title="Subir foto" ng-click="vm.seleccionarArchivo();">
                            <span class="ico-upload"></span>
                        </button>

                        <button class="btn_ico" title="Borrar Foto" ng-show="vm.trash" ng-click="vm.borrarFoto();">
                            <span class="ico-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <p class="texto_labels green">Nombres</p>
                    <input class="a_input" />
                </div>
                <div>
                    <p class="texto_labels green">Apellidos</p>
                    <input class="a_input" />
                </div>
                <div>
                    <p class="texto_labels green">Nombre de Usuario</p>
                    <input class="a_input" />
                </div>
            </div>
        </div>

        <div class="box_duo_input">
            <div>
                <p class="texto_labels green">Contraseña</p>
                <input class="a_input" type="password" ng-model="vm.pass_usu" maxlength="20"/>
                <div id="widget_seguridad">
                    <div id="content_span">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <p>Nivel de seguridad: {{vm.val_seguridad}} </p>
                </div>
            </div>
            <div>
                <p class="texto_labels green">Confirmar Contraseña</p>
                <input class="a_input" type="password" />
            </div>
        </div>

        <div class="box_duo_input">
            <div>
                <p class="texto_labels green">Correo Electronico</p>
                <input class="a_input" />
            </div>
            <div>
                <p class="texto_labels green">Rol del usuario</p>
                <div class="div_con_info">
                    <div class="a_select"><!--aqui debe haber un hack como en entida.html-->
                        <select></select>
                    </div>
                    <button class="btn_ico" title="Informacion rol" ng-click="vm.infoRol=true">
                        <span class="ico-info"></span>                                        
                    </button>
                </div>
                <info-rol show="vm.infoRol"></info-rol>  
            </div>
        </div>

        <div class="box_duo_input">

            <div>
                <p class="texto_labels green">Estado del usuario</p>
                <div class="contenedor_radios">
                    <span>
                        <input class="a_radio" id="rad1" type="radio" name="rad" checked><label for="rad1">Activo</label>
                    </span>
                    <span>
                        <input class="a_radio" id="rad2" type="radio" name="rad"><label for="rad2">Bloqueado</label>
                    </span>
                </div>
            </div>
            <div></div>
        </div>

        <wl-confirmacion editando="vm.editando"
                         aceptar="vm.aceptar"
                         cancelar="vm.cancelar">
        </wl-confirmacion>
    </div
</div>