.a_footer {
    background: #2c3e50;
    width: 100%;
    min-height: 30vh;
    display: flex;
    -ms-flex-direction:column;
    -webkit-flex-direction:column;
    flex-direction:column;   
    font-family:'Lato-Regular';
    color:#eee;
    line-height:1.7;
    font-size:1em;  
}

.sub_footer1{
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;  
    background:rgba(0, 0, 0, 0.3);
}

.sub_footer2{
    text-align:center;
    padding:10px;
    color:#eee;
}

.sub_footer1 > div {
    text-align:center;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin:10px 40px;
    padding:0 30px;
    min-width:200px;
    color:#eee;
}

.sub_footer1 > div > hr{
    margin:5px 0;
    border:1px solid rgba(255, 255, 255, .2);
}

.sub_footer1>div>p{color:#eee}

.sub_footer1>div>p:first-child{font-size:1.1em}


.f_link{color:#eee;cursor:pointer}



.ico_f{
    color:#eee;
    font-size:xx-large;
    cursor:pointer;
}

.ico_f:hover,.f_link:hover{color:#5ab6ae}

#f_3 > img{
    height:20px;
}

@media (max-width: 600px) { 
    .a_footer{
        flex-direction:column;
    }
    .a_footer > div{
        min-width:unset;
    }
}

/*------------------------------------------------------------*/
/*Mini footer*/

.a_mini_footer {
    background: #2c3e50;
    color:#eee;
    display: flex;
    -ms-flex-direction:column;
    -webkit-flex-direction:column;
    flex-direction:column;   
}

.a_mini_footer > div:first-child{
    box-shadow:0 2px 3px 0 #1b2631;
}


.sub_mini_footer2{
    font-family:'Lato-Regular';
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:10px 0;
}

@media (max-width: 300px) { 
    .a_mini_footer>div{min-width:10px}
}