<div class="tapiz">

    <div style="height:100px;"></div>

    <div class="contenedor_busqueda">

        <div id="busqueda_padre">

            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~1-->
            <div id="busqueda_left">
                <div class="contenedor_filtros">
                    <p>Busqueda Avanzada</p>
                    <wlegem-filtro-busqueda></wlegem-filtro-busqueda>
                </div>
                <!--ng-if="!vm.errorMessage && vm.documentosEncontrados.length < 1"-->
            </div>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~1-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~2-->
            <div id="busqueda_right">

                <form class="box_input_busqueda_principal">
                    <div>
                        <input required name="busqueda" type="text" class="input_text_ico"
                               ng-model="vm.palabrasABuscar" placeholder="Escriba aquí su busqueda(Ejemplo:Decreto)"
                               maxlength="50" id="nombre" />
                    </div>
                    <div>
                        <button class="btn_search_avanzada" ng-click="vm.buscar( vm.palabrasABuscar)">
                            <span class="ico-search"></span>
                        </button>
                    </div>
                </form>

                <!--------------------------------------------------------------------------------------------------------->

                <div ng-show="!vm.errorMessage && vm.documentosEncontrados.length > 0" class="contenedor_resulados_sort">

                    <div style="margin:0 15px; border-bottom:1px solid #bbb;">
                        <wlegem-sort-busqueda style="margin-bottom:10px;"></wlegem-sort-busqueda>
                    </div>

                    <div class="res_bus">
                        <p>Documentos encontrados</p>
                        <div>
                            <wlegem-resultado-busqueda loquesea="vm.documentosEncontrados" predicate="vm.predicate" reverse="vm.reverse"></wlegem-resultado-busqueda>
                        </div>
                    </div>
                </div>

                <div class="mensaje_busqueda a_gordo" ng-if="vm.errorMessage">
                    <p>{{ vm.errorMessage }}</p>
                    <span class="ico-frown-o"></span>
                </div>
                <div class="dibujo_busqueda" ng-if="!vm.errorMessage && vm.documentosEncontrados.length < 1">
                    
                    <span class="escudo-udenar">
                    </span>
                </div>

            </div>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~2-->
        </div>
    </div>
</div>
