<div class="box_father">
    <div class="box_left">
        <wl-lista-tipos-anotacion objeto-seleccionado="vm.tipoAnotacionSeleccionada"
                                  lista="vm.tiposAnotacion"
                                  editando="vm.editando"
                                  procesando="vm.procesando"
                                  error="vm.error">
        </wl-lista-tipos-anotacion>
        <div id="wl-lista" class=" load_list"></div>
    </div>

    <div class="box_right">
        <wl-admin-crud objeto-seleccionado="vm.tipoAnotacionSeleccionada"
                       editando="vm.editando"
                       procesando="vm.procesando"
                       nuevo="vm.nuevo"
                       eliminar="vm.remover"
                       foco="input_tipo_anot"
                       error="vm.error">
        </wl-admin-crud>

        <label class="texto_labels">{{vm.language.strings.NombreTipoAnotacion}}:</label>
        <form name="vm.form_tipo_ano">

            <input class="a_input" ng-class="!vm.editando || !vm.tipoAnotacionSeleccionada? 'disable': ''"
                   type="text" name="tipo" required id="input_tipo_anot"
                   ng-model="vm.tipoAnotacionSeleccionada.nombre"
                   placeholder="{{vm.language.strings.IngreseNombreTipoAnotacion}}" />

            <div ng-show="vm.form_tipo_ano.tipo.$invalid && vm.form_tipo_ano.tipo.$dirty">
                <div class="msj-error">{{vm.language.strings.CompleteCampo}}</div>
            </div>

            <label class="texto_labels">Raiz del tipo anotación:</label>
            <input class="a_input" ng-class="!vm.editando || !vm.tipoAnotacionSeleccionada? 'disable': ''"
                   type="text" name="raiz" required
                   ng-model="vm.tipoAnotacionSeleccionada.raiz"
                   placeholder="{{vm.language.strings.IngreseRaizTipoAnotacion}}" />

            <div ng-show="vm.form_tipo_ano.raiz.$invalid && vm.form_tipo_ano.raiz.$dirty">
                <div class="msj-error">{{vm.language.strings.CompleteCampo}}</div>
            </div>

        </form>

        <wl-confirmacion editando="vm.editando"
                         aceptar="vm.aceptar"
                         cancelar="vm.cancelar"
                         procesando="vm.procesando"
                         error="vm.error">

        </wl-confirmacion>
    </div>        
</div>


<wl-info show="vm.dialogResponse" title="Error" color="verde">
    <div class='a-modal-contenido'>
        <div class="generic-box-vertical">
            <div class="generic-box-horizontal center">
                <label class="texto_labels">{{vm.responseMessage}}</label>
            </div>
            <div class="generic-box-horizontal flex-1 center" style="margin-top:15px;">
                <button class="btn_sin_ico" ng-click="vm.dialogResponse=false">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</wl-info>