<div class="contenido">   
    <label class="titulo">Tipo de Anotacion</label>
    <div >
        <form>
            <label class="texto_labels" for="nombre">Nombre</label>
            <input class="a_input" id="nombre" type="text" ng-model="vm.tipoAnot.nombre" />

            <label class="texto_labels" for="activo">Rol Activo de la anotación</label>
            <input class="a_input" id="activo" type="text" ng-model="vm.tipoAnot.rol_activo" />

            <label class="texto_labels" for="pasivo">Rol Pasivo de la anotación</label>
            <input class="a_input" id="pasivo" type="text" ng-model="vm.tipoAnot.rol_pasivo" />

            <button class="a_boton" type="submit">Añadir</button>
        </form>

        <select multiple>
            <option ng-repeat="tipo in vm.tiposAnotaciones">{{ tipo.nombre }} {{ tipo.rolActivo }} {{ tipo.rolPasivo }}</option>
        </select>

        <button class="a_boton" type="button">
            Remover
        </button>
        <button class="a_boton" type="button">
            Editar
        </button>
    </div>
</div>