<div class="box_father">
    <div class="box_left">
        <wl-lista-tipos-anotacion seleccionar="vm.seleccionar"
                lista="vm.tiposAnotacion"
                editando="vm.editando">
        </wl-lista-tipos-anotacion>
    </div>

    <div class="box_right">
        <wl-admin-crud objeto-seleccionado="vm.tipoAnotacionSeleccionada"
                editando="vm.editando"
                nuevo="vm.nuevo"
                eliminar="vm.remover">

        </wl-admin-crud>

        <label class="texto_labels">{{vm.language.strings.NombreTipoAnotacion}}</label>
        <form>
            <input class="a_input"
                   ng-disabled="!vm.editando"
                   type="text"
                   ng-model="vm.tipoAnotacionSeleccionada.nombre"
                   placeholder="{{vm.language.strings.IngreseNombreTipoAnotacion}}" />

            <input class="a_input"
                   ng-disabled="!vm.editando"
                   type="text"
                   ng-model="vm.tipoAnotacionSeleccionada.raiz"
                   placeholder="{{vm.language.strings.IngreseRaizTipoAnotacion}}" />
        </form>

        <wl-confirmacion editando="vm.editando"
                aceptar="vm.aceptar"
                cancelar="vm.cancelar">

        </wl-confirmacion>
    </div>        
</div>