<div class="box_father ani-pasos">

    <div class=" box_left">
        <label class="ca_label_busqueda">
            {{vm.language.strings.SeleccioneDocumentoAnotara}}:
        </label>
        <wl-buscar-doc buscar="vm.buscarBuscar" accion="vm.buscarDocumentos"></wl-buscar-doc>
    </div>

    <div class="box_right">
        <!--mensaje de error si no se encuentra coinsididencias-->
        <label class="msj-error" ng-if="!vm.ban_buscar">
            {{vm.language.strings.NoEcontroNingunDocumentoIdentificacionDeseaCrear}}
            <a ng-click="vm.nuevoDocumento();" href="" title="{{vm.language.strings.CrearDocumento}}">{{vm.language.strings.NuevoDocumento}}</a>
        </label>

        <div class="dibujo_busqueda" ng-if="vm.documentos.length < 1" >
            <!--ng-if="!vm.errorMessage && vm.documentosEncontrados.length < 1">-->
            <span class="escudo-udenar"></span>
        </div>

        <div class="generic-box-horizontal flex-1 derecha" ng-if="vm.ban_buscar" style="margin-bottom: 10px;">
            <button class="btn_sin_ico" ng-click="vm.nuevoDocumento();">
                {{vm.language.strings.Nuevo}}
            </button>
        </div>

        <wl-lista-doc-encontrado documentos="vm.documentos" 
                accion="vm.seleccionarDocumentoAnotante"
                ng-if="vm.documentos && vm.documentos.length > 0" seleccionar="vm.seleccionarDoc">  </wl-lista-doc-encontrado>
    </div>

</div>

