<div class="generic-box-vertical center">
    <span class="ico-check-circle verde"></span>
    <label class="texto_labels">Se creo la anotacion con exito :v</label>
</div>

<div class="generic-box-vertical center">
    <span class="ico-check-circle verde"></span>
    <label class="texto_labels">lamentablemente no se pudo realizar la operacion :(</label>
</div>

<div class="generic-box-horizontal flex-1 center" style="margin-top:15px;">
    <button class="btn_sin_ico" ng-click="vm.aceptarProcesando()">
        Aceptar
    </button>
</div>