<div class="generic-box-vertical">
    <div class="generic-box-horizontal resumen_asociar_doc">
        <div class="generic-box-vertical">
            <div class="ico-lde"><span class="ico-file-text-o"></span></div>            
            <a>acuerdo 25 del 20 de julio del 2008</a>
            <p>Entidad:</p>
            <i>Faculta d ingeniera de sistemas</i>
            <p>Fecha de publicacion:</p>
            <i>30 de julio de 2008 </i>
        </div>
        <div class="flecha_rad"><div class="ico-lde"><span class="ico-long-arrow-right"></span></div></div>
        <div class="generic-box-vertical">
            <div class="ico-lde"><span class="ico-file-text-o"></span></div>
            <a>acuerdo 25 del 20 de julio del 2008</a>
            <p>Entidad:</p>
            <i>Faculta d ingeniera de sistemas</i>
            <p>Fecha de publicacion:</p>
            <i>30 de julio de 2008 </i>
        </div>
    </div>
    <div class="generic-box-vertical">
        <div>
            <label class="texto_labels">Tipo de Anotación:</label>
            <div class="a_select">
                <select type="text" placeholder="Escriba entidad emisora" ng-model="vm.tipoDocumentoAux"
                        ng-options="tipoDocumento.nombre as tipoDocumento.nombre for tipoDocumento in vm.tiposDocumento| orderBy: 'nombre'"></select>
            </div>
        </div>
        <div>
            <label class="texto_labels">Descripcion de la Anotación:</label>
            <textarea class="a_text_area"></textarea>
        </div>
    </div>
</div>

<!-- Controles -->
<div class="generic-box-horizontal flex-1 derecha" style="margin-top:15px;">
    <button class="btn_sin_ico" ng-click="vm.atrasResumen()">
        Atras
    </button>
    <button class="btn_sin_ico" ng-click="vm.aceptarAnotacion()"
            style="margin-left:15px">
        Aceptar
    </button>
</div>