/*estilo general para botones*/
/*----------------------------------------*/
.a_boton{
    background-color: #45b15d;
    padding: 0.6em 2em;
    font-family:'Century Gothic';
	font-size: 0.8em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.04rem;
	color: #fff;
	border:none;
    border-radius:0.2em;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.a_boton:hover {
    background-color:  #3d9851;
}

.a_boton:active{
    background-color: #3d9851;
    -webkit-box-shadow: inset 0 0 1px 3px #2f753f;
    -moz-box-shadow: inset 0 0 1px 3px #2f753f;
    box-shadow: inset 0 0 1px 3px #2f753f;
}

/*estilo general para thumbnail*/
/*----------------------------------------*/
.a_thumbnail{
    height:100px;
    width:80px;
    margin: 2rem 3em;   
}

.a_thumbnail_container{
    border: 0.2em solid #999;
    display:inline-block;
    box-shadow: 2px 2px 5px #636262;
    margin:2rem 2em; 
    border-radius:1em;
}

.a_thumbnail_container:hover{
    border: 0.2em solid green;
    display:inline-block;
    box-shadow: 2px 2px 5px #999;
    margin:2rem 2em; 
}

.a_thumbnail_container > label {
   display: block;
   text-align: center;
}

/*Titulos para los contenidos*/
/*---------------------------*/

.titulo{
    color: white;
    text-align:center;
    height:auto;
    background:  #37404A;
    border-radius:4px 4px 0 0;
    display:block;
    padding:0.5em;
    font-family:sans-serif;
    font-size:1.1em;
    font-weight:600;
    overflow: hidden;
}




/*Disposiciones en display/
/*******************/
.a_block{
    display:block;
}
.a_inline_block{
    display:inline-block;
}
.a_inline{
    display:inline;
}
/*cuerpo del cocumento*/
.cuerpo{
    margin-top:20px;
}

/*-------------------*/

/*menesajes de validacion*/
.a_validacion{
    color: orangered;
    font-family:'Century Gothic';
    font-size:small;
}

 
/* .a_search #lupa:before { flecha 
    content: '';
    position: absolute;
    border-width: 18px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #438cdb transparent;
    top: 8px;
    left: -5px;
}*/

/*TEXTO PARA LOS LABELS*/
.texto_labels{
    display:block;
    color:#21262c;
    font-size:1em;
    font-family:'Franklin Gothic';
}