/*Titulos para los contenidos*/
/*---------------------------*/

.titulo{
    color: white;
    text-align:center;
    height:auto;
    background: #0f745b;  
    display:block;
    padding:0.5em;
    font-family:'OpenSans-Bold';
    font-size:1em;
}

.titulo span{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}

.titulo span:before{
    font-size:x-large;
}

/*-------------------*/

/*menesajes de validacion*/
.a_validacion{
    color: orangered;
    font-family:'OpenSans';
    font-size:small;
}

/*TEXTO PARA LOS LABELS*/
.texto_labels{
    display:block;
    color:#434e58;
    font-size:1em;
    font-family:'Lato-Regular';
    margin-bottom:2px;
}

.texto_labels.green{
    color:#0f745b;
}

.texto_labels.bold{
    font-family:"Lato-Bold";
}

.subtitulos_labels{
    display:block;
    color:#434e58;
    font-size:.9em;
    font-family:'Lato-Regular';
}

.divisor_gestion_documental{
    border: solid 1px #434e58;
}


/*Disposiciones*/

.a_centrado{
    display:flex;
    justify-content:center;
    width:100%;
}

@media only screen and (max-width : 320px) {
    .espacio_blanco{
        height:55px;
        width:30px;
    }
}

@media only screen and (min-width : 320px) {
    .espacio_blanco{
        height:55px;
        width:55px;
        background:blue;
        flex-shrink:0;
    }
}