/*Titulos para las ventanas fijas*/
/*---------------------------*/

.titulo{
    display:flex;
    align-items:center;
    color: white;
    height:35px;
    align-self:stretch;
    background: #00796B;
    font-family:'OpenSans-Bold';
    font-size:1em;
    padding-left:10px;
}

.titulo span{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}

.titulo span:before{
    font-size:x-large;
}

.titulo.modal{
    flex:1;
}


/*Titulos para las ventanas de los modulos*/
/*---------------------------*/

.titulo_ventana{
    display:flex;
    align-items:center;
    color: #fff;
    height:35px;
    align-self:stretch;
    background: #34474f;
    position:relative;
    padding-left:20px;   
    pointer-events:none; 
}


.titulo_ventana p{
    font-family:'OpenSans-Semibold'; 
    font-size:.9rem;  
}

.titulo_ventana span{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}

.titulo_ventana span:before{
    font-size:large;
    margin-right:5px;
}


/*-------------------*/

/*menesajes de validacion*/
.msj-error{
    color: orangered;
    font-family:'OpenSans';
    font-size:small;
}

/*TEXTO PARA LOS LABELS*/
.texto_labels{
    display:block;
    color:#434e58;
    font-size:1em;
    font-family:'Lato-Regular';
    margin-bottom:2px;
}

.texto_labels.green{
    color:#0f745b;
}

.texto_labels.bold{
    font-family:"Lato-Bold";
}

.subtitulos_labels{
    display:block;
    color:#434e58;
    font-size:.9em;
    font-family:'Lato-Regular';
}

.divisor_gestion_documental{
    border: solid 1px #17a564;
}

/*Sombras*/

.z1{
    box-shadow:0 0 0 1px rgba(0, 0, 0, 0.05),0 1px 3px rgba(0, 0, 0, 0.4);
}

/*Disposiciones*/

.a_centrado{
    display:flex;
    justify-content:center;
    width:100%;
}

@media only screen and (max-width : 320px) {
    .espacio_blanco{
        height:55px;
        width:30px;
    }
}

@media only screen and (min-width : 320px) {
    .espacio_blanco{
        height:55px;
        width:55px;
        background:blue;
        flex-shrink:0;
    }
}

/* divs generales*/

.generic-box-horizontal{
    display:flex;
}

.generic-box-horizontal.space-between{
    justify-content:space-between;
}
.generic-box-horizontal.derecha{
    justify-content:flex-end;
}
.generic-box-horizontal.izquierda{
    justify-content:flex-start;
}
/*-------------------*/
.generic-box-vertical{
    display:flex;
    flex-direction:column;
    width:100%;
    justify-content:flex-start;
}

.generic-box-vertical.space-between{
    justify-content:space-between;
}
.generic-box-vertical.derecha{
    justify-content:flex-end;
}
.generic-box-vertical.izquierda{
    justify-content:flex-start;
}


/*-----------------------------------------------------------------------*/

.box_duo_input{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-bottom:5px;
}

.box_one_input{
    display:flex;
    flex-wrap:wrap;
    margin-bottom:5px;
}
.box_one_input > div{
    flex:1;
    min-width:250px;
}


.box_duo_input > div{
    flex:1;
    min-width:250px;
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .box_duo_input{
        flex-direction:column;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .box_duo_input{
        flex-direction:row;
    }
    .box_duo_input > div:first-child{
    margin-right:10px;
    }
    .box_duo_input > div:last-child{
    margin-left:10px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .box_duo_input{
        flex-direction:row;
    }
    .box_duo_input > div:first-child{
    margin-right:10px;
    }
    .box_duo_input > div:last-child{
    margin-left:10px;
    }
}



/*-----------------------------------------------------------------------*/



















.ng-animate.no-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}