.contenedor_login{
    width:40%;
    margin:auto;
    padding:2em 1em;
}

.contenedor_login H1,H2{
    font-family:sans-serif;
}



.form{
    background:#fff;
    border-radius:0 0 10px 10px ;
    padding:2em;
    margin-bottom: 5em;
    position:relative;
}


.input_login{
    width:95%;
    margin-bottom: 2em;
    line-height: 2.5em;
    padding: 0 1em;
    transition:        box-shadow 0.5s;
    -webkit-transition:box-shadow 0.5s;
    -moz-transition:   box-shadow 0.5s;
    box-shadow: 1px 0 #309264 inset;
}

.input_login:focus{
    border:2px solid  #309264;
    box-shadow: 500px 0 white inset;
}


.input_login:focus::-moz-placeholder{
    color: #246848;
    font-weight:bold;
}


.input_login:focus + .circulo1{
    background: #309264;
}

.input_login:focus + .circulo2{
    background: #309264;
}

.circulo1 {
    position:absolute;
    display:inline-block;
    right: 1.5em;
    top: 1.5em;
    width: 50px;
    height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #a5a3a3;
     transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition: all 0.5s; 
}

.circulo2 {
    position:absolute;
    display:inline-block;
    right: 1.5em;
    top: 6em;
    width: 50px;
    height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #a5a3a3;
     transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition: all 0.5s; 
}
