.contenedor_login{
    width:40%;
    margin:auto;
    border-radius:0.5em 0.5em 0.5em 0.5em ;

    -webkit-box-shadow: 0.5em 0.5em 1em 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0.5em 0.5em 1em 0 rgba(0,0,0,0.75);
    box-shadow: 0.5em 0.5em 1em 0 rgba(0,0,0,0.75);
}


#user_login{
    display:block;
    margin:auto;
    width:60%;
    height:100%;
}
#user_login path{
    fill: #fff;
}

#user_lock{
    display:block;
    margin:auto;
    width:60%;
    height:100%;
}
#user_lock path{
    fill: #fff;
}


.form{
    background:#fff;
    border-radius:0 0 0.5em 0.5em ; 
    padding:2em;
    margin-bottom: 5em;
    position:relative;
}


.input_login{
    width:95%;
    margin-bottom: 2em;
    line-height: 2.5em;
    padding: 0 1em;
    position:relative;
    transition:        box-shadow 0.5s;
    -webkit-transition:box-shadow 0.5s;
    -moz-transition:   box-shadow 0.5s;
    box-shadow: 1px 0 #3f9f43 inset;
}

.input_login:focus{
    border:2px solid  #3f9f43;
    box-shadow: 500px 0 white inset;
}


.input_login:focus::-moz-placeholder{
    color: #3f9f43;
    font-weight:bold;
}


.input_login:focus + .circulo1{
    background: #3f9f43;
}

.input_login:focus + .circulo2{
    background: #3f9f43;
}

.circulo1 {
    position:absolute;
    display:inline-block;
    right: 0;
    top: -6px;
    width: 50px;
    height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #a5a3a3;
     transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition: all 0.5s; 
}

.candado{
    position:relative;
}

.circulo2 {
    position:absolute;
    display:block;
    right:0;
    top: -6px;
    width: 50px;
    height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #a5a3a3;
     transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition: all 0.5s; 
}

