* {
    margin:0;
    padding:0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    
}

body {
    background-image: url('../recursos/grey_wash_wall.png');
}

.contenedor_nombres {
    position: relative;
    height: 120px;
    background-image: url('../recursos/ppal.png');
    -webkit-box-shadow: 0 10px 9px rgba(36, 38, 36, 0.93);
    -moz-box-shadow: 0 10px 9px rgba(36, 38, 36, 0.93);
    0 1px 1px 10px rgba(36, 38, 36, 0.93);
    box-shadow: 0 10px 9px rgba(36, 38, 36, 0.93);
}

.navegacion{
    position:absolute;
    bottom:0;
    right:0;
}


.nombre_pagina {
    position:absolute;
    bottom:6px;
    padding:0 0 0 30px ;
    text-shadow: #fff 0 0 1px, #000 2px -2px 3px ;
    font-size: 6.5em;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;   

}

.bar_nav{
     height:30px;
    -webkit-box-shadow: 1px 3px 10px 3px rgba(36, 38, 36, 0.93);
    -moz-box-shadow: 1px 3px 10px 3px rgba(36, 38, 36, 0.93);
    box-shadow: 1px 3px 10px 3px rgba(36, 38, 36, 0.93);
}

.n_icons{
    position:absolute;
    left:0;
    top:25%;
}
.n_iconsb{
    position:absolute;
    left:0;
    top:25%;
    margin-left:10px;
    margin-right:10px;
}



.bar_nav > li {
    bottom:10px;
    list-style:none;
    background:#37404A;
    float:right;
    width:auto;
    line-height:2.5;
    position:relative; 

   /* border-right:2px solid green;*/
}

.bar_nav > li:before{
    content:"";
    width:0;
    height:4px;
    background:#F39C22;
    position:absolute;
    left:50%;
    bottom:0;
    -moz-animation: all .5s;
    transition: all .4s;
}

.bar_nav > li:hover:before{
    width:100%;
    left:0;
}


.bar_nav li a {
    font-family:'Century Gothic';
    font-weight:bold;
    text-decoration: none;
    padding: 0 2em;
    color:#fff;
    font-size:1em;
    text-align:center;
}


.bar_nav li ul {
    list-style:none;
    position:absolute;
    width:120%;
    display:none;
    padding: 1em 0;
    background:#37404A;
    margin-bottom:1em;
}

.bar_nav li:hover > ul {
    display:block;
    position:absolute;
    z-index:3;
}

.bar_nav > li > ul > li{
}

.bar_nav > li > ul > li:hover a{
    color:#F39C22;
}


/*----------------------------------------------*/
.box_accesibilidad{
    background: #37404A;
    color: white;
    padding:0.5em 0;
    height:45px;
}

.boton_final {
    display: inline-block;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width:200px;
    background: url('../recursos/botones/jv.png');
    background-size:cover;
}
.uuu {
    width:120px;
    cursor:pointer;
}

.parra{
    padding:0 0 5px 85px;
    line-height:1.2em;
    font-family:'Century Gothic';
    color:white;
    font-size:1.5em;
    font-weight:bold;
}

.li-ac{
    display:inline;
}




