<div class="tapiz">

    <div style="height:85px;"></div>

    <div class="tapiz_contenido" ng-show="true" style="max-width:800px">
        <div class="titulo">
            <span class="ico-user">
                <a>{{vm.language.strings.ConfiguracionCuenta}}</a>
            </span>
        </div>
        <div class="box_father">

            <div class="box_right">

                <wl-fotografia show="vm.camaraToggle"></wl-fotografia>
                <div class="box_duo_input">
                    <div>
                        <p class="texto_labels green">{{vm.language.strings.Fotrografia}}</p>
                        <div class="box_fotografia">
                            <div class="foto_usuarios">
                                <span class="ico-user" ng-show="!vm.trash"></span>
                                <img src="" id="laimagen" ewl wl-load="vm.mostrarFoto();" />
                                <input type="file" id="input_usu_foto" />
                            </div>
                            <div class="botonera_camara">
                                <button class="btn_ico" title="Tomar foto" ng-click="vm.abrirCamara();">
                                    <span class="ico-camera"></span>
                                </button>

                                <button class="btn_ico" title="Subir foto" ng-click="vm.seleccionarArchivo();">
                                    <span class="ico-upload"></span>
                                </button>

                                <button class="btn_ico" title="Borrar Foto" ng-show="vm.trash" ng-click="vm.borrarFoto();">
                                    <span class="ico-trash"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="texto_labels green">{{vm.language.strings.Nombres}}</p>
                            <input class="a_input" />
                        </div>
                        <div>
                            <p class="texto_labels green">{{vm.language.strings.Apellidos}}</p>
                            <input class="a_input" />
                        </div>
                        <div>
                            <p class="texto_labels green">{{vm.language.strings.CorreoElectronico}}</p>
                            <input class="a_input" />
                        </div>
                    </div>
                </div>

                <div class="box_duo_input">
                    <div>
                        <p class="texto_labels green">{{vm.language.strings.Contrasena}}</p>
                        <input class="a_input" type="password" ng-model="vm.pass_usu" maxlength="20" />
                        <div id="widget_seguridad">
                            <div id="content_span">
                                <span></span><span></span><span></span><span></span><span></span>
                            </div>
                            <p>{{vm.language.strings.NivelSeguridad}}: {{vm.val_seguridad}} </p>
                        </div>
                    </div>
                    <div>
                        <p class="texto_labels green">{{vm.language.strings.ConfirmarContrasena}}</p>
                        <input class="a_input" type="password" />
                    </div>
                </div>
                <!--Botonera para confirmacion de cambios-->
                <div class="controles_box_right down">                    

                    <button class="btn_con_ico" style="display:inline-block;">
                        <span class="ico-floppy-o tamano_botones_1"></span>{{vm.language.strings.Guardar}}
                    </button>

                    <button class="btn_con_ico" type="button" style="display:inline-block;">
                        <span class="ico-times tamano_botones_1"></span>{{vm.language.strings.Cancelar}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

