<div class="tapiz">

    <div style="height:85px;"></div>

    <div class="tapiz_contenido" ng-show="true" style="max-width:500px">
        <div class="titulo">
            <span class="ico-user-md">
                <a>{{vm.language.strings.RecuperacionContrasena}}</a>
            </span>
        </div>
        <div class="box_father">

            <div class="box_right">

                <!--=============================================================-->
                <div ng-show="vm.verificado==1" class="difuminar">
                    <div class="box_one_input">
                        <p class="subtitulos_labels">
                            {{vm.language.strings.IngreseNombreBotonVerificar}}
                        </p>
                    </div>

                    <div class="box_one_input">
                        <div>
                            <p class="texto_labels green">{{vm.language.strings.CuentaUsuario}}</p>
                            <input class="a_input" type="text" />
                        </div>
                    </div>

                    <div class="controles_box_right down" style="margin-top:10px;">
                        <button class="btn_con_ico" style="display:inline-block;" ng-click="vm.verificado = 2">
                            <span class="ico-retweet tamano_botones_1"></span>{{vm.language.strings.Verificar}}
                        </button>
                    </div>
                </div>
                <!--=============================================================-->
                <div ng-show="vm.verificado==2" class="difuminar">
                    <div class="box_one_input">
                        <p class="subtitulos_labels">
                            {{vm.language.strings.IngreseCorreoBotonRecuperar}}
                        </p>
                    </div>

                    <div class="box_one_input">
                        <div>
                            <p class="texto_labels green">{{vm.language.strings.CorreoElectronico}}</p>
                            <input class="a_input" type="text" />
                        </div>
                    </div>

                    <div class="controles_box_right down" style="margin-top:10px;">
                        <button class="btn_con_ico" style="display:inline-block;" ng-click="vm.verificado=3">
                            <span class="ico-paper-plane tamano_botones_1"></span>{{vm.language.strings.Recuperar}}
                        </button>
                    </div>
                </div>
                <!--=============================================================-->

                <div ng-show="vm.verificado==3" class="difuminar">
                    <div class="box_one_input">
                        <p class="subtitulos_labels">
                            {{vm.language.strings.EmailEnviadoRevise}}
                        </p>
                    </div>

                    <div class="controles_box_right down" style="margin-top:10px; ">
                        <button class="btn_con_ico" style="display:inline-block;" ui-sref="home">
                            <span class="ico-check tamano_botones_1"></span>{{vm.language.strings.Aceptar}}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>

</style>


