<div class="contenedor_login">

    <div>
        <div class="titulo">WEBLEGEM</div>
        <form class="form_login" name="form_login" novalidate>

            <div class="subtitulo">
                <p>Ingreso al Sistema</p>
            </div>

            <!----------------------------------------------------->
            <div ng-messages ng-show="form_login.usuario.$invalid">
                <div class="a_validacion" ng-message ng-show="form_login.usuario.$dirty">Complete este campo.</div>
            </div>
            <div class="input_container_login">
                <input required name="usuario" class="a_input" id="user" type="text" ng-model="vm.user.nombre" placeholder="Nombre de Usuario *" />
                <div class="circulo1"><span class="ico-user" id="user_login"></span></div>
            </div>

            <!----------------------------------------------------->
            <div ng-messages ng-show="form_login.password.$invalid">
                <div class="a_validacion" ng-message ng-show="form_login.password.$dirty">Complete este campo.</div>
            </div>
            <div class="input_container_login">
                <input required class="a_input size_input_login" name="password" type="password" ng-model="vm.user.password" placeholder="Contraseña *" />
                <div class="circulo2"><span class="ico-lock" id="user_lock"></span></div>
            </div>

            <!----------------------------------------------------->
            <div>
                <div class="a_validacion" style="padding-bottom:20px; color:#444">* Campos obligatorios.</div>
            </div>
            <div class="a_centrado">
                <button class="btn_con_ico" type="submit" ng-click="vm.logIn()">
                    <span class="ico-sign-in tamano_botones_1"></span>INGRESAR
                </button>
            </div>

            <a href="#" class="olvide_contraseña"> Olvide mi contraseña </a>
        </form>
    </div>
</div>
