
<div ng-if="true" class="tarjeta_busqueda" ng-repeat="contenido in vm.arregloDocs | orderBy: vm.predicate: vm.reverse">    
    <div class="titulo_tarjeta">
        <a ng-click="vm.ver(contenido.archivo.id)">        
            {{ contenido.documento.tipoDocumento.nombre }}
            {{ contenido.documento.numero }}
            del {{ contenido.documento.fechaPublicacion | date: 'yyyy' }}
        </a>
    </div>

    <div class="contenido_tarjeta">
        {{ contenido.asunto | limitTo: 50: 0 }}
    </div>

    <div class="subcontenido_tarjeta">
        <a>{{vm.language.strings.Entidad}}: <i>{{ contenido.documento.entidad.nombre }} </i> | </a>
        <a>{{vm.language.strings.Fecha}}: <i>{{ contenido.documento.fechaPublicacion | date: 'dd/MM/yyyy' }} </i> | </a>
    </div>

    <div class="control_tarjeta">
        <a href="{{vm.serviceUrl}}/Files/{{ contenido.archivo.id }}">
            <span class="ico-download"></span>{{vm.language.strings.Descargar}}
        </a>
    </div>
</div>

<!--El modal esta fuera del ng-repeat-->
<info-anotacion ng-if="vm.infoAnotacion" show="vm.infoAnotacion" datos="vm.anotaciones"></info-anotacion>