<!---------------------------------------------------------------------------------------------------------------------Paso1-->
<div class="box_father" ng-show="vm.index==0">
    <div class="box_left">
        <label class="ca_label_busqueda">{{vm.language.strings.BuscarDocumento}}:</label>
        <wl-buscar-doc>  </wl-buscar-doc>
    </div>
    <div class="box_right">
        <label class="msj-error"> {{vm.language.strings.NoEncontroNingunDocumentoConIdentificacion}} </label>
        <wl-lista-doc-encontrado seleccionar="vm.seleccionarDoc">  </wl-lista-doc-encontrado>


    </div>
</div>
<!---------------------------------------------------------------------------------------------------------------------Paso2-->

<div class="box_father" ng-show="vm.index==1">

    <div class="box_left flex-3">
        <label class="ca_label_busqueda">{{vm.language.strings.VistaPreviaDocumento}}:</label>
        <iframe src="recurso.pdf"
                class="de-vpdf none-mt" frameborder="0"></iframe>
    </div>

    <div class="box_right">
        <wl-lista-anotaciones editar="vm.editarAnotacion">  </wl-lista-anotaciones>
    </div>
</div>
<!---------------------------------------------------------------------------------------------------------------------Controles-->

<div class="box_father" ng-if="vm.index == 1">
    <div class="box_right">
        <div class="divisor-pasos"><div></div></div>
        <div class="controles-crear-anotacion">
            <button class="btn_sin_ico" ng-click="vm.backStep()">
                {{vm.language.strings.Atras}}
            </button>
        </div>
    </div>
</div>

<!-- Modales---------------------------------------------------------------------- -->
<div class='a-modal' ng-if='vm.ban_confirmacion'>
    <div class='a-modal-overlay' ng-click='vm.ban_confirmacion=false'></div><!--Simula la opacidad de fondo del dialogo-->
    <div class='a-modal-dialog'>

        <div class='a-modal-close verde'>
            <div class="a-titulo-modal verde">{{vm.language.strings.Confirmacion}}</div>
            <button title="Cerrar dialogo" ng-click="vm.ban_confirmacion=false">
                <span class="ico-times"></span>
            </button>
        </div>

        <div class='a-modal-contenido'>
            <div ng-include="vm.vistas"></div>
        </div>

    </div>
</div>