<div class="tapiz">

    <div class="espacio_blanco"></div>

    <div class="tapiz_contenido">

        <div class="contenedor_tabs">
            <ul>
                <li ui-sref="usuarios.control-roles"
                        ng-class="vm.$state.current.name =='usuarios.control-roles' ? 'active_tab' : ''"
                        ng-click="vm.tabActivo($event);">
                    <span class="ico-cogs">
                        <a>{{vm.language.strings.Roles}}</a>
                    </span>
                </li>
                <li ui-sref="usuarios.control-usuarios" ng-click="vm.activo($event);"
                        ng-class="vm.$state.current.name =='usuarios.control-usuarios' ? 'active_tab' : ''">
                    <span class="ico-users">
                        <a>{{vm.language.strings.Usuarios}}</a>
                    </span>
                </li>                
            </ul>
        </div>
        <div ui-view></div>
    </div>
</div>