<div class='ng-modal' ng-if='show'>

    <div class='ng-modal-overlay'></div><!--Simula la opacidad de fondo del dialogo-->
    <div class='ng-modal-dialog'>
        <div class='ng-modal-close'>
            <p class="titulo modal">{{vm.language.strings.permisos}}</p>
            <button class="btn_ico" title="Cerrar dialogo" ng-click="hideModal()">
                <span class=" ico-times"></span>
            </button>
        </div>
        <div class='ng-modal-dialog-content'>

            <table class="a_tabla">
                <tr>
                    <th>{{vm.language.strings.Modulo}}</th>
                    <th>{{vm.language.strings.Lectura}}</th>
                    <th>{{vm.language.strings.Escritura}}</th>
                    <th>{{vm.language.strings.Edicion}}</th>
                    <th>{{vm.language.strings.Eliminacion}}</th>
                </tr>

                <tr ng-repeat="modulo in rol">
                    <td>{{modulo[0]}}</td>
                    <td>{{modulo[1]}}</td>
                    <td>{{modulo[2]}}</td>
                    <td>{{modulo[3]}}</td>
                    <td>{{modulo[4]}}</td>
                </tr>

            </table>

        </div>

    </div>
</div>