
.contenedor_accesibilidad{
    position:absolute;
    top:0;   
    right:0;
    overflow:hidden;
}

.deslizador{
    position:relative;
    display:flex;  
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
  
    -webkit-transform:translateX(165px);
    transform:translateX(165px);
    
    -moz-transition:ease-in .5s;
    -o-transition:ease-in .5s;
    -webkit-transition:ease-in .5s;
    transition:ease-in .5s;
}

#lanzador_accesibilidad{
    background:rgba(36, 168, 112, 0.50);
}

#lanzador_accesibilidad:hover{
    background:rgb(24, 156, 100);
}



.boton_accesibilidad{  
    background:rgba(55, 64, 74, 0.31);
    border:none;
    width:55px;
    height:55px;
    color:white;
    font-size:large;
}

.boton_accesibilidad:hover{
    background: rgba(255, 255, 255, 0.50);
}

.btn_nav, .btn_tamano1 ,.btn_tamano2 ,.btn_tamano2_a,.btn_tamano3, .btn_tamano0{
    cursor:pointer;
    text-decoration:none;
    font-family:'Lucida Sans';
    color:#fff;
    position:relative;
}

.btn_nav:before{
    content:"";
    position:absolute;   
    width:0;
    height:4px;
    background:#F39C22;
    bottom:0;
    left:0;
   
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn_tamano1:before, .btn_tamano2:before,.btn_tamano2_a:before, .btn_tamano0:before{
    content:"";
    position:absolute;   
    height:4px;
    background:#F39C22;
    bottom:0;
    left:0;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn_tamano1:before{
    width:50%;
}
.btn_tamano2:before, .btn_tamano2_a:before{
    width:100%;
}
.btn_tamano0:before{
    width:0;
}