.boton_accesibilidad{  
    background:rgba(68, 81, 107, 0.24);
    border:1px solid rgba(141, 164, 180, 0.57);
    width:45px;
    height:45px;
    color:white;
    font-size:large;
    margin-right:10px;
    cursor:pointer;
    transition-duration:.4s;
}

.boton_accesibilidad p,.boton_accesibilidad  span{pointer-events:none;}

.boton_accesibilidad.idioma{
    width:auto;
    padding:0 10px;
    height:35px;
    width:70px;
    font-size:small;
}

.boton_accesibilidad.fuente1{font-size:x-large;margin-right:10px;}
.boton_accesibilidad.fuente2{font-size:medium;margin-right:10px}
.boton_accesibilidad.fuente3{font-size:x-small;margin-right:0}

/*evento hover*/
.boton_accesibilidad:hover{background:rgba(255,255,255,.5)}
/*estado activo*/
.boton_accesibilidad.activo{background:#23948a;border:none}

