.contenedor_busqueda{
    background:transparent;
    width:90%;
    margin-bottom:20px;
}

.contenedor_filtros{
    padding:20px; 
    background:#fff;
}

.contenedor_filtros > p{    
    font-family:lato-Regular;
    color:#0f745b;
    font-size:large;
    margin-bottom:10px;
    padding-bottom:5px; 
    border-bottom:2px solid #0f745b;
}

.btn_buscar_avanzada{width:100%; margin-top:20px;height:35px;display:none}

.right_busqueda{
    padding:20px; 
    background:#fff;
}

/*------Busqueda Avanzada-------*/
#busqueda_padre{
    display:flex;
    display:-webkit-flex;
    width:100%;
    height:100%;
    margin-top:10px;
}

#busqueda_left{
     -ms-flex-direction:column; 
    -webkit-flex-direction:column;
    flex-direction:column;
    padding-right:20px;
    width:35%; 
}

#busqueda_right {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display:flex;
    padding: 0 5px 10px 5px;
    width: 100%;
}





/*-----Contenedor Resultados---------*/
    
.res_bus{padding:0 50px}
.res_bus>p{margin:10px}
.desc_res {
    border-bottom: 1px solid #47627d;
    font-family: 'lato-Bold';
    font-size: medium;
    color:#47627d;
    margin: 10px 0;
}

/*-----Fin Contenedor Resultados-------------*/




/*--------Mensajes Busqueda-------*/

.mensaje_busqueda{
    padding: 15px 10px;
    font-size: large;
    font-family: 'Lato-Regular';
    color: #666;
    width: 100%;
    text-align: center;
    border: 1px dashed #666;
}

.mensaje_busqueda span{
    color:#666;
    font-size:60px;
    font-weight:900;
}


/*-----Fin Mensajes Busqueda------*/

/*-------Dibujo Busqueda----------*/
.dibujo_busqueda {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.dibujo_busqueda span{
    font-size:70px;
    color:#999;
    cursor:default;
    position:relative;
    right:10px;
}

.dibujo_busqueda > span{
    font-size:140px;
    position:relative;
}
.dibujo_busqueda > span > span{
    font-size:70px;
    position:absolute;
    left:90px;
    bottom:-40px;
}
/*---Fin Dibujo Busqueda----------*/


.box_input_busqueda_principal{
    display:flex;
    margin-right:5px;
}

    .box_input_busqueda_principal div:first-child{
        -ms-flex: 1;-webkit-flex: 1;flex: 1;
    }

    .box_input_busqueda_principal div:last-child{
        flex-basis:35px;
    }

.box_input_busqueda_principal div:last-child span:before{
    line-height:.9;
}

.box-sort-busqueda{border-bottom:1px solid #aaa;border-top:1px solid #aaa}

.barra-busqueda{display:flex;margin-bottom:10px}
.barra-busqueda>form{flex:1}


/*Diseño responsive----------------------------------------------------------------------------*/

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .right_busqueda{padding:5px;}
    .contenedor_filtros{padding:5px;}
}

/* Small Devices, Tablets  < 768px*/
@media only screen and (max-width : 768px) {

    .contenedor_busqueda{width:100%;}
    .btn_buscar_avanzada{display:block}
    
    #busqueda_right {
        padding: 0 5px 10px 5px;
        width: 100%;
        min-width:280px;
    }

    #busqueda_left{
        position:fixed;
        height:100vh;
        width:100vw;
        z-index:900; 
        margin:0;
        top:0;
        display:flex;
        align-items:center;
        justify-content:center;
        padding: 15px 0; 
    }
    
    .contenedor_filtros{
        position:relative;
        width:90%   ;
        overflow:auto;
        z-index:910;
    }

    .res_bus{padding:0}

    .opacidad-busqueda{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    background:black;
    opacity:.8;
    /*z-index:905;*/
}
}


/* Medium Devices, Desktops > 768*/
@media only screen and (min-width : 768px) {
    
}