.contenedor_uploader_gd {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.view_gestion_documental{
    width:100%;
    display:flex;
    justify-content:center;
}

.tontera {
    border: 1px solid gray;
    margin: 10px;
    height: 46vh;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
}

.tontera ng-quill-editor{
    background:red; 
}

.contenedor-subir-documento {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

