.view_gestion_documental{
    width:100vw;
    display:flex;
    justify-content:center;   
}

.contenido_gd{
    background:white;
    width:90vw;
    margin-top:10px;
}

.contenido_gd > div{
    padding:2em;
}

.tontera {
    border: 1px solid gray;
    margin: 10px;
    height: 46vh;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tontera ng-quill-editor{
    background:red;
    
}