.header {
    width:100%;
    height:55px;
    position:relative;
    background:rgba(17, 21, 21, 0.70);
    border-bottom:1px solid #6c767d;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.50);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.50);
    z-index:1;
}

.figura_logo{
    height: 125px;
    width: 150px;
    position:absolute;
    left:10px; 
    top: -5px; 
    z-index:1;
    
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.85));
    filter        : drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.85));
}


.nombre_pagina {
    text-align:center;
    padding-bottom:40px;
    font-family:'OpenSans-Bold';
    font-weight:900;
    font-size: 100px;
    color:white;
    text-shadow: 1px 1px  rgba(140,140,140,0.6), -1px -1px 1px rgba(0, 0, 0, .67);
}

.escudo_pagina{
    position:absolute;
    margin-top: 5px;
    height: 95px;
    top:-5px;
    left:29px;
}

.contenedor_nombre_escudo {
    
}

#svg_image {
    stroke:#010365;
    stroke-width: 3px;
}




.btn_deslizable{
    background:rgba(55, 64, 74, 0.0);
    border:none;
    width:auto;
    height:55px;
    color:white;
    font-size:medium;
    margin-right:10px;
    padding: 8px;
    position:relative;
    cursor:pointer;
}

.btn_deslizable > span{
    -webkit-transform:translateY(3px);
    transform:translateY(3px);
    display:inline-block;
    font-size:large;
}

.btn_deslizable > p{
    display:inline-block;
    font-size:medium;
}

.btn_deslizable:hover{ 
    background: rgba(255, 255, 255, 0.50);
}
.btn_deslizable:hover span, .btn_deslizable:hover p{ 
    color:#fff;
}

.btn_deslizable:before{
    content:"";
    width:0;
    height:4px;
    background:white;   
    position:absolute;
    left:50%;
    bottom:0;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn_deslizable:hover:before{
    width:100%;
    left:0;
}

