/******************** HEADER ***************************/
.header {
    width:100%;
    height:55px;
    position:relative;
    /*background:rgba(17, 21, 21, 0.70);*/
    background: #0f745b;
    border-bottom:1px solid #6c767d;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.50);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.50);
    z-index:2;
    position:fixed;
}

.header.solido{ 
    transition:all .5s linear;
    background: #0f745b;  
    height:55px;
}

.transparente {
    background: rgba( 0,0,0, .75 );
}

/******************* FIN HEADER ***********************/

.ul_nav{list-style:none;display:flex;justify-content:flex-end;}

.li_nav{font-family:"Lato-Regular";font-size:medium;color:#fff}
.li_nav a {padding:0 10px;}
.li_nav:hover > a {background: #0f5776; }


#toggle-menu{
    background:rgba(0, 0, 0, 0.30);   
    color:white;
    height:55px;
    width:55px;
    font-size:25px;
    display:none;
    cursor:pointer;   
    justify-content:center;
    align-items:center;
}
#toggle-menu:before{-moz-transition:all .5s;-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s}

/*´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´*/
    /*Menu Desplegado*/
    .ul_nav.responsive{display:flex;overflow-y:scroll;position:absolute;height:calc(100vh - 55px);width:100%;}
    .ul_nav.responsive li{background:#132135; border-bottom:1px dotted rgba(255, 255, 255, 0.10)}
    .ul_nav.responsive li ul{position:relative;}
    .ul_nav.responsive li a{flex:1;display:flex;justify-content:flex-start}
    .ul_nav.responsive li a div{margin-left:30px;margin-right:10px}
    .ul_nav.responsive > li > ul > li > a {background:#11171E;padding-left:30px}
    #toggle-menu.responsive:before{transform:rotate(90deg)}
  
/*´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´*/

.logo-wl1{
    position:absolute; 
    left:0; 
    display:flex;
}

.logo-wl2{
    display:none;
}

@media screen and (max-width:767px) 
{ /*para dispositivos menores a 767px*/
    #toggle-menu{display:flex;}
    .ul_nav{display:none;}/*ocultar*/
    .ul_nav.responsive{display:unset}/*en filas*/
    .cinta-wl{display:none}
    .logo-wl1{left:55px}
    .logo-wl2{display:flex}

}



.btn_menu {
    background: rgba(55, 64, 74, 0.0);
    border: none;
    width: auto;
    height: 55px;
    color: white;
    position: relative;
    justify-content: center;
    display: flex;
    text-decoration:none;
    position:relative;
}

.btn_menu:before{
    content:"";
    width:0;
    height:4px;
    background:white;   
    position:absolute;
    left:50%;
    bottom:0;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn_menu:hover:before{width:100%;left:0}/*animacion*/
.btn_menu.sin_ani:hover:before{width:0;left:0}/*sin animacion*/


.btn_menu > div{/*icono de los li*/
    font-size:large;          
    display:flex;
    align-items:center;
    height:100%;
    margin-right:10px;
}

.btn_menu > p{                           
    display:flex;
    align-items:center;
    height:100%;
}

/*---------------- Btn cuenta de usuario---------------*/
.btn_menu.usu{
    height:55px;
    color:white;
    display:flex;
    cursor:pointer;
    padding-right:0;
}

.btn_menu.usu > div:first-child{/*Nombre Usuario*/  
    align-items:center;
    height:100%;
}

.btn_menu.usu > div:last-child{/*Foto Usuario*/
    margin:0;
}

.btn_menu.usu > div:last-child > img{/*Foto Usuario*/
    background-size:contain;
    width:55px; 
    height:55px;
}


/*-----------------Fin Btn cuenta usuario -------------*/

/*----------- Sub menu -----------*/

.ul_nav li ul{
    list-style:none;
    background:rgba( 0,0,0, .75 );
    position:absolute;
}

.desplegar.ng-hide-add  {
}
.desplegar.ng-hide-remove {
    animation: .5s bajando;
}

@keyframes bajando {
  0%{opacity:0;max-height:0;}
  100% {opacity:1;max-height:200px;}
}

.ul_nav li ul li a{flex:1;display:flex;justify-content:flex-start;padding:10px;}
.ul_nav li ul li a div{margin-right:10px}

.btn_menu.sub:hover:before{width:0}/*quitar animacion*/
.btn_menu.sub:hover{background: #0f5776}
.btn_menu.sub{cursor:pointer;height:40px;}

/*---------Fin Sub menu ----------*/


/*+********************************/

.figura_logo{
    height: 125px;
    width: 150px;
    position:absolute;
    left:5px; 
    top: -5px; 
    z-index:1;    
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.85));
    filter        : drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.85));
}



.escudo_pagina{
    position:absolute;
    margin-top: 5px;
    height: 95px;
    top:-5px;
    left:29px;
}

#svg_image {
    stroke:#010365;
    stroke-width: 3px;
}