.header2 {
    width: 100%;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #37404A;
}




.hijo_right_header2 {
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    -ms-align-content: flex-end;
    -webkit-align-content: flex-end;
    align-content: flex-end;

    height: 100%;
}


.contenedor_pag_principal {
    display: flex;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    justify-content: center;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}