.header {
    width:100%;
    height:50px;
    position:relative;
    background:rgb(0, 0, 0);
}
.header2 {
    width:100%;
    height:50px;

    display:flex;
    display: -webkit-flex;
    
    justify-content:flex-end;
    align-items:center;
    
    background:rgb(0, 0, 0);
}

.contenido_noticias {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    font-family: Arial, "Helvetica", sans-serif;
    background:rgb(0, 0, 0);
}

.contenedor_navegacion{
    position: relative;
    height: 40px;
    background:#ffffff;
}

.titulo_news{
    color:white;
    font-size:1.5em;
}

.bar_nav li a {
    font-family:'Century Gothic';
    font-weight:bold;
    text-decoration: none;
    padding: 0 1rem;
    color:rgb(0, 0, 0);
    font-size:1rem;
    text-align:center;
}

.figura_logo{
    background:#32d436;
    display: inline-block;
    height: 75px;
    margin-left:0; 
    margin-top: 0; 
    position: relative; 
    width: 120px;
}

.figura_logo:before {
    content: ""; 
    border-style: solid;
    border-width: 50px 60px 0 60px;
    border-color: #32d436 transparent transparent transparent;
    z-index: 1;

    height: 0; 
    left: 0; 
    position: absolute; 
    top: 75px; 
    width: 0; 
}

.nombre_pagina{
    margin-left: 30px;
    text-shadow: 1px -1px 2px #310000;
    font-size: 75px;
    position: absolute;
    top: 0;
    left: 100px;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: #ffffff;
}

.escudo_pagina{
    position:absolute;
    margin-left: 20px;
    margin-top: 10px;
    height: 80px;
    z-index:2;
}

.btn_deslizable{
    background:rgba(55, 64, 74, 0.0);
    border:none;
    width:auto;
    height:50px;
    color:white;
    font-size:medium;
    margin-right:10px;
    padding:10px;
    position:relative;
}

.btn_deslizable > span{
    -webkit-transform:translateY(3px);
    transform:translateY(3px);
    display:inline-block;
    font-size:large;
}

.btn_deslizable > p{
    display:inline-block;
    font-size:medium;
}

.btn_deslizable:hover{ 
    background: rgba(255, 255, 255, 0.11);
}
.btn_deslizable:hover span, .btn_deslizable:hover p{ 
    color:#F39C22;
}

