.header2 {
    width: 100%;
    height: auto;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #37404A;
    background: #464d55;
    background-image: url('../../recursos/header/dark_Tire.png');
}
