#informacion_documento {
    height: 90px;
    width: 100%;

    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    
    background: red;
}

#informacion_documento div label{
    flex-basis:200px;
    background:blue;
}

#informacion_documento div input
{
    flex-grow:1;
    width:auto;
    min-width:200px;
    max-width:400px;
}


#informacion_documento div div{

    width:auto;
    min-width:200px;
    max-width:400px;
    display:inline-block;
    position:relative;
}

#informacion_documento div div select{
    width:100%;
}

#informacion_documento div div span{
    position: absolute;
    right: 10px;
    top: 20px;
}
