.tabla_info_doc{
    margin:20px 0;
    border:none;
}

.tabla_info_doc td{
    padding:8px 15px;
}

.tabla_info_doc tr td:last-child{
    width:400px;
    height:100%;
}
.tabla_info_doc tr td:last-child > div,input{
    width:100%;
}