    .box_father {
        display: flex;
    }

    .box_left {      
        box-shadow: 1px 0 0 #e2e2e2;
        background:white;
    }

    .box_right {
        flex: 3;
        padding: 20px;
    }

    .box_child{
        padding: 20px;
    }

    .controles_box_right {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        border-bottom: solid 1px #e2e2e2;
        margin-bottom:10px;
    }

    .controles_box_right.down{
        border-bottom: none;
        margin-bottom:0;
        border-top: solid 1px #e2e2e2;
        margin-top:20px;
    }

    .controles_box_right.down button{
        margin-bottom:0;
        margin-top:10px;
    }

    .controles_box_right button {
        margin-left: 10px;
        margin-bottom: 10px;
    }



.tapiz {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    /*background-color: #e1e3e9;*/
    background-image: url('../../recursos/cheap_diagonal_fabric.png');
    /*background-color:#e9eaed;*/ /*azul facebook*/
}

    .tapiz_contenido{/*responsive*/
        background:#fff;
        box-shadow:0 0 0 1px rgba(0, 0, 0, 0.05),0 1px 2px rgba(0, 0, 0, 0.3);
        width:90%;
        margin-bottom:20px;
    }

    
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {/* < 320*/

}


@media only screen and (min-width : 320px) {/* > 320*/
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .box_left {
        position:absolute;
        left:0;
        top:55px;
        width:50vw;
        min-width:300px;
        height:100vh;
        z-index:10;
        padding: 20px;
        display:none;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .box_left {
        flex: 1.5;
        padding: 20px;
        position:unset;
        width:unset;
        top:unset;
        left:unset;
        background:none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}