    .box_father {
        display: flex;
    }

    .box_left {
        flex: 1.5;
        padding: 20px;
        box-shadow: 1px 0 0 #e2e2e2;
    }

    .box_right {
        flex: 3;
        padding: 20px;
    }

    .controles_box_right {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        border-bottom: solid 1px #e2e2e2;
        margin-bottom:10px;
    }

    .controles_box_right.down{
        border-bottom: none;
        margin-bottom:0;
        border-top: solid 1px #e2e2e2;
        margin-top:10px;
    }

    .controles_box_right.down button{
        margin-bottom:0;
        margin-top:10px;
    }

    .controles_box_right button {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .tapiz_contenido{/*responsive*/
        background:#fff;
        box-shadow:0 0 0 1px rgba(0, 0, 0, 0.05),0 1px 2px rgba(0, 0, 0, 0.3);
        width:90%;
        margin-bottom:20px;
    }