.contenedor_login{
    width:420px;
    margin: 0 auto;
    padding: 40px 0 0 0;
    border-radius:0.2rem ;    
    z-index: 9999;
}

.contenedor_login:before {
    content: '';
    background-image: url('../recursos/header/pexels-photo-46274 (2).jpeg');
    background-size: cover;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

.subtitulo {
    background:transparent;
}

.subtitulo > p{
    font-family:sans-serif;
    font-size:2rem;
    text-align:center;
    color: #37404A;
    padding: 10px 0 10px 0 ;
}


#user_login{
    color:white;
    font-size:xx-large;
}

#user_lock{
    color:white;
    font-size:xx-large;
}



.form_login{
    background:rgb(255, 255, 255);
    border-radius:0 0 4px 4px ; 
    padding: 0 24px 24px 24px;
    position:relative;
}


.input_login{
    width:95%;
    margin-bottom: 2em;
    line-height: 2.5em;
    padding: 0 1em;
    position:relative;
    transition:        box-shadow 0.5s;
    -webkit-transition:box-shadow 0.5s;
    -moz-transition:   box-shadow 0.5s;
    box-shadow: 1px 0 #3f9f43 inset;
}

.input_login:focus{
    border:2px solid  #3f9f43;
    box-shadow: 500px 0 white inset;
}


.input_login:focus::-moz-placeholder{
    color: #3f9f43;
    font-weight:bold;
}


.input_login:focus + .circulo1{
    background: #3f9f43;
}

.input_login:focus + .circulo2{
    background: #3f9f43;
}

.circulo1 {
    position:absolute;
    display:flex;
    right: 0;
    top: -6px;
    width: 50px;
    height: 50px;
    justify-content:center;

     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #a5a3a3;
     transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition: all 0.5s; 
}

.candado{
    position:relative;
}

.circulo2 {
    position:absolute;
    display:flex;
    right:0;
    top: -6px;
    width: 50px;
    height: 50px;
    justify-content:center;
    
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;

     background: #a5a3a3;
     transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition: all 0.5s; 
}

.olvide_contraseña{
    padding-top:20px; 
    text-align: center;
    display:    block;
    font-family: 'Century Gothic';
    font-size:small;
}

