.fondo_login{
    min-height:100vh;
    width:100%;
    display:flex; 
    flex-direction:column; 
    background-image: url('../../recursos/header/entrada.jpg');
    background-size: cover;
}

.contenedor_login{
    max-width:420px;
    box-shadow:0 0 0 1px rgba(0, 0, 0, 0.05),0 1px 2px rgba(0, 0, 0, 0.3);   
    min-width:0;
}

.form_login{
    background:rgba(255, 255, 255, 1);
    padding:20px;
}

.olvide_contraseña{
    margin-top:20px;
    display:inline-block;
    font-family: 'OpenSans';
    font-size:small;
}

.inputs_login{
    margin-bottom:20px;
}

.mensaje_login{
    font-family:"Lato-Regular";
    text-align:center;
    color:#999;
    font-size:1.2em;
    border-bottom: 1px solid #bbb;
    margin-bottom:10px;
    padding-bottom:5px; 
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {/* < 320*/
    .contenedor_login{
        width:100%;
        margin:auto;
    }
}


@media only screen and (min-width : 320px) {/* > 320*/
    .contenedor_login{
        width:100%;  
        margin:auto;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .contenedor_login{
        margin: auto;    
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}