.a_news {
    background: #fff;
    width: 100%;
    background:#fafbfe;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid #aaa;
    padding: 0;
}

.titulo_news{
    display:flex;
    flex-direction:column;    
    justify-content:center;
    align-content:center;
    color:#777;
    border-top: 10px solid #777;
    border-bottom:1px solid #ccc;
    font-family:'Lato-Regular';
    font-size:35px;
    height:100px;
    width:100%;
    padding:0 20px;
    position:relative;
    overflow:hidden;
    text-align:center;
}


/*-----container news-----*/
.container_news {
    min-height:100vh;
    background:red;
    align-self:center;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    overflow-y: auto;
}

    

.news_left{
    display:-webkit-flex;
    display:flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;  
    margin:10px 0; 
}

/*---fin container news-----*/

.tarjeta_news{
    max-width:48%;
    min-width:10%;
    width:45%;
    padding:20px; 
    box-shadow:0 0 0 1px rgba(0, 0, 0, 0.05),0 1px 2px rgba(0, 0, 0, 0.3);
    background:#fff;
    margin:10px;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .form_login{
        height:100vh;
    }
    .contenedor_login{
    }
}


@media only screen and (min-width : 320px) {
    .contenedor_login{
        margin: auto;
        
        margin-top:10vh;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}