.a_news {
    width: 100%;
    background: #fafbfe;
    background-image: url('../../recursos/header/fondo_news_normal.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid #aaa;
    padding: 0;
}

.titulo_news{
    display:flex;
    flex-direction:column;    
    justify-content:center;
    align-content:center;
    color:#FFF;
    background:rgba(0, 0, 0, 0.3);
    box-shadow:0 -3px 10px 2px rgba(0, 0, 0, 0.3);
    border-bottom:1px solid #ccc;
    font-family:'Lato-Regular';
    font-size:35px;
    height:80px;
    width:100%;
    padding:0 20px;
    position:relative;
    overflow:hidden;
    text-align:center;
    margin-bottom:20px;
}


/*-----container news-----*/
.container_news {
    min-height:100vh;
    align-self:center;
    width:100%;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    overflow-y: auto;
}

    

.news_left{
    display:-webkit-flex;
    display:flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:space-between;
}

/*---fin container news-----*/

.tarjeta_news{
    padding:20px; 
    box-shadow:0 0 0 1px rgba(0, 0, 0, 0.05),0 1px 2px rgba(0, 0, 0, 0.3);
    background:rgba(255, 255, 255, 0.95);
    width:100%;
    
}

/*==========  Mobile First Method  ==========*/

@media only screen and (min-width : 0) {
    .tarjeta_news {
        margin:2px;       
    }
    .news_left{
        margin:0 2px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .tarjeta_news {
        margin: 3px; 
    }
    .news_left{
        margin:0 3px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .tarjeta_news {
        margin:10px;
    }
    .news_left{
        margin:0 10px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .tarjeta_news {
        width: 45%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .tarjeta_news {
        width: 48%;
    }
}