.a_news {
    background: #fff;
    width: 100%;
    background:#fafbfe;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid #aaa;
    padding: 0 80px;
}

.titulo_news{
    display:flex;
    flex-direction:column;    
    justify-content:center;
    align-content:center;
    color:#777;
    border-top: 10px solid #777;
    border-bottom:1px solid #ccc;
    font-family:'Lato-Regular';
    font-size:35px;
    height:100px;
    width:100%;
    padding:0 20px;
    position:relative;
    overflow:hidden;
    text-align:center;

}

.titulo_news img{
    width:95px;
    height:95px;
    margin-right:20px;
}

.forma_institucional{
    position:absolute;
    top:0;
    right:0;
    width:400px; 
    height:110px;
}


/*-----container news-----*/
.container_news {
    min-height:100vh;
    align-self:center;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    overflow-y: auto;
}

    

.news_left{
    display:-webkit-flex;
    display:flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;  
    margin:10px 0; 
}

@media (min-width: 1200px) { 
    .container_news {
        width: 100%;
    }
    .tarjeta_news {
        min-width:100px; 
        margin:10px 20px;
    }

    .news_left{
        justify-content:center;
    }
}



@media (max-width: 1200px) { 
    .container_news {
    width: 100%;
    }
    .tarjeta_news {
        min-width:100px; 
    }
    
    .news_left{
        justify-content:center;
    }
}


@media (max-width: 1100px) { 
    .container_news {
    width: 100%;
    }
    .tarjeta_news {
        min-width:100px; 
    }
     .news_left{
    justify-content:space-around;

    }
    
}

@media (max-width: 800px) { 
    .container_news {
    width: 90%;
    }
}

@media (max-width: 600px) { 
    .container_news {
    width: 100%;
    }
}


/*---fin container news-----*/
