/*###### Control Roles #######*/
.contenedor_permisos {
    border:1px solid #ccc;   
}

.contenedor_permisos:last-child {
    border-bottom:none;   
}

.contenedor_permisos p{
    color:#444;
}

.contenedor_permisos > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family:"lato-Regular";   
}


.contenedor_permisos > div > div {
    align-self: flex-end;
}

.estado_permiso {
    text-align: end;
    flex: 1;
    margin-right: 10px;
    color:#2062b9 !important;
}

.permiso_submodulo{
    font-size:.9em;
    padding:0 10px;
}

.titulo_modulo{
    border-bottom:1px solid #ccc;
    padding: 10px;
    background:var(--main-bg-color);
}

.titulo_modulo p{
    font-size:1em;
    line-height:1.2;
    color:#222 !important;
}

/*###### Control Usuarios #######*/



.div_con_info{
    display:flex;
}
.div_con_info div{
    flex:1;
}


.contenedor_radios{
    font-family:"Lato-Regular";
    height:35px;
    display:flex;
    align-items:center;
    color:#444;
}
.contenedor_radios span{
    margin-right:30px;
}

/**********************/
.box_fotografia{
    display:flex;
    margin-top:2px;
}

.foto_usuarios{
    border:1px solid #bbb;
    min-width:150px !important;
    width:150px !important;
    height:170px;
    text-align:center;
}

.foto_usuarios > span:before{   
    color:#ddd;
    font-size:120px;
    display:block;
    margin-top:20px;    
}

#laimagen{
    width:100%;
    height:100%;
    visibility:hidden;
}

.botonera_camara {
    display:flex;
    flex-direction:column;
    justify-content:flex-start !important;
    margin-left:5px;
}
.botonera_camara > button{
    margin-bottom:5px;
}

/*-----input para subir foto-------*/
#input_usu_foto{
    display: none;
}

/*--Fin input para subir foto-------*/

.difuminar.ng-hide-remove {
    animation: .9s fadeIn;
}