/*###### Control Roles #######*/
.contenedor_permisos {
    border:1px solid #ccc;
    margin: 10px;
}

.contenedor_permisos p{
    color:#444;
}

.contenedor_permisos > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family:"lato-Regular";
    margin-bottom:10px;
}


.contenedor_permisos > div > div {
    align-self: flex-end;
}

.estado_permiso {
    text-align: end;
    flex: 1;
    margin-right: 10px;
    color:#2062b9 !important;
}

.permiso_submodulo{
    font-size:.9em;
    padding:0 10px;
}

.titulo_modulo{
    border-bottom:1px solid #ccc;
    padding: 10px;
    background:var(--main-bg-color);
}

.titulo_modulo p{
    font-size:1em;
    line-height:1.2;
    color:#222 !important;
}

/*###### Control Usuarios #######*/

.box_duo_input{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-bottom:5px;
}

.box_duo_input div{
    flex:1;
    min-width:250px;
}



.contenedor_radios{
    font-family:"Lato-Regular";
    height:35px;
    display:flex;
    align-items:center;
    color:#444;
}
.contenedor_radios span{
    margin-right:30px;
}

.a_radio{
    display:none;
}

.a_radio ~ label{
    cursor:pointer;
}
    .a_radio ~ label:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background: #5e5f64;
        border-radius:50%;
        border:3px solid #b4b4b4;
        height: 11px;
        width: 11px;
        margin-right:2px;
        cursor:pointer;
        transition: all .3s linear;
    }

.a_radio:checked ~ label:before{ 
    background:#36c34f;
    border-color:#5e5f64;
}
.a_radio:checked + label{ 
    color: #000;
}




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .box_duo_input{
        flex-direction:column;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .box_duo_input{
        flex-direction:row;
    }
    .box_duo_input > div:first-child{
    margin-right:10px;
    }
    .box_duo_input > div:last-child{
    margin-left:10px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .box_duo_input{
        flex-direction:row;
    }
    .box_duo_input > div:first-child{
    margin-right:10px;
    }
    .box_duo_input > div:last-child{
    margin-left:10px;
    }
}

/**********************/
.foto_usuarios{
    border:1px solid #bbb;
    min-width:150px !important;
    width:150px !important;
    height:170px;
    display:flex;
    justify-content:center;
    align-items:center;

}

.foto_usuarios > span{
    color:#bbb;
    font-size:120px;
    line-height:0;
}

.box_fotografia{
    display:flex;
    margin-top:2px;
}
.box_fotografia button{
    margin-left:5px;
    margin-bottom:5px;
}

/*MODAL*/

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:fixed;
  top:0;
  left:0;
  z-index:9999;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.4;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position:fixed;
  width: 320px;
  height:auto;
  display:flex;
  flex-direction:column;
   /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.71);
}
.ng-modal-dialog-content {
}

.ng-modal-close {
  background:rgba(0, 0, 0, 0.10);
  width:100%;
  display:flex;
  justify-content:flex-end;
  margin-bottom:5px;
}

.ng-modal-close  button{
    margin:0;
    padding:0;
    align-self:flex-end;
}

.canvas_container{
    position:relative;
    display:flex;
    justify-content:center;
}

.canvas_container:after{
    content:"";
    position:absolute;
    top:40px;
    left:85px;
    height:170px;
    width:150px;
    border:1px solid #36c34f;
}

#botonera{
    margin:5px;
    width:100%;
    justify-content:flex-end;
}

#botonera button{
    font-size:12px;
    letter-spacing:normal;
}


#camaraUsu,#fotoUsu{
    
}

/*-----input para subir foto-------*/
    #input_usu_foto{
        display: none;
    }

/*--Fin input para subir foto-------*/