<div class='ng-modal' style="overflow-y:auto; width:80% ; height:80vh;" ng-if='show'>

    <div class='wl-modal-opacidad'></div><!--Simula la opacidad de fondo del dialogo-->
    <div class='wl-modal-dialogo'>
        <div class='wl-modal-barra-titulo'>
            <div class="titulo">
                <span class="ico-sticky-note-o">
                    <a>{{vm.language.strings.Anotaciones}}</a>
                </span>
            </div>
            <button class="btn_ico" title="Cerrar dialogo" ng-click="hideModal()">
                <span class=" ico-times"></span>
            </button>
        </div>
        <div class='wl-modal-contentenido'>

            <div class="documento_actual">
                <div>
                    <span class="ico-file-text-o"></span>
                </div>
                <div>
                    <p>{{datos.tipoDocumento }} {{datos.numero }} {{vm.language.strings.del}} {{datos.fecha }}</p>
                    <p> {{vm.language.strings.EntidadEmisora}}: <i>{{datos.entidad}}</i></p>
                    <p> {{vm.language.strings.FechaPublicacion}}: <i>{{datos.fecha}}</i></p>
                </div>
            </div>

            <div class="desc_res" style="margin-bottom:15px;">{{vm.language.strings.EncuentraAnotado}}:</div>

            <div class="tarjeta_anotacion" ng-repeat="i in [1,2,3,4,5,6]">
                <div>
                    <span class="ico-file-text-o"></span>
                </div>
                <div>
                    <div class="titulo_tarjeta anotacion">
                        <a ng-click="vm.ver(documento.archivo)">{{ datos.tipoDocumento }} {{ datos.numero }} {{vm.language.strings.del}} {{ datos.fecha }}</a>
                    </div>
                    <div class="subcontenido_tarjeta anotacion">
                        <p>{{vm.language.strings.Entidad}}: <i>{{ datos.entidad }} </i> | {{vm.language.strings.Fecha}}: <i>{{ datos.fecha  }} </i> | </p>
                    </div>
                    <div class="tipo_anotacion">
                        <p>{{vm.language.strings.TipoAnotacion}}: <i>{{vm.language.strings.Deroga}}</i> </p>
                    </div>
                </div>
            </div>


        </div><!--contenido personalisable-->

    </div>
</div>
