<div class="tapiz">

    <div class="espacio_blanco"></div>

    <wl-titulo-nav class="container_navigation"></wl-titulo-nav>

    <div class="tapiz_contenido" ng-show="true">

        <div class="contenedor_tabs">
            <ul>
                <li ng-class="vm.$state.current.name =='administracion.tipo-documento' ? 'active_tab' : ''"
                    ui-sref="administracion.tipo-documento" ng-click="vm.activo($event)">

                    <span class="ico-files-o">
                        <a>{{vm.language.strings.TipoDocumento}}</a>
                    </span>
                </li>
                <li ng-class="vm.$state.current.name =='administracion.tipo-entidad' ? 'active_tab' : ''"
                    ui-sref="administracion.tipo-entidad" ng-click="vm.activo($event)">

                    <span class="ico-folder-open-o">
                        <a>{{vm.language.strings.TipoEntidad}}</a>
                    </span>
                </li>

                <li ng-class="vm.$state.current.name== 'administracion.entidad' ? 'active_tab': ''"
                    ui-sref="administracion.entidad" ng-click="vm.activo($event)">

                    <span class="ico2-drawer">
                        <a>{{vm.language.strings.Entidad}}</a>
                    </span>
                </li>
                <li ng-class="vm.$state.current.name =='administracion.tipo-anotacion' ? 'active_tab' : ''"
                    ui-sref="administracion.tipo-anotacion" ng-click="vm.activo($event)">

                    <span class="ico2-bookmarks">
                        <a>{{vm.language.strings.TipoAnotacion}}</a>
                    </span>
                </li>
            </ul>
        </div>
        <div ui-view></div> <!--arreglar animacion entre tabs esta debe ser con ng-enter y ng-leave-->
    </div>
</div>


