<div class="tapiz">

    <div style="height:85px;"></div>

    <div class="tapiz_contenido" ng-show="true">
        <div class="contenedor_tabs">
            <ul>
                <li ng-class="vm.$state.current.name =='administracion.tipo-documento' ? 'active_tab' : ''"
                    ui-sref="administracion.tipo-documento" ng-click="vm.activo($event)">

                    <span class="ico-files-o">
                        <a>Tipo Documento</a>
                    </span>
                </li>
                <li ng-class="vm.$state.current.name =='administracion.tipo-entidad' ? 'active_tab' : ''"
                    ui-sref="administracion.tipo-entidad" ng-click="vm.activo($event)">

                    <span class="ico-folder-open-o">
                        <a>Tipo Entidad</a>
                    </span>
                </li>

                <li ng-class="vm.$state.current.name== 'administracion.entidad' ? 'active_tab': ''"
                    ui-sref="administracion.entidad" ng-click="vm.activo($event)">

                    <span class="ico2-drawer">
                        <a>Entidad</a>
                    </span>
                </li>
                <!--<li ui-sref="administracion.tipo-anotacion" ng-click="vm.activo($event)">
                    Tipo Anotacion
                </li>-->
            </ul>
        </div>
        <div ui-view></div> <!--arreglar animacion entre tabs esta debe ser con ng-enter y ng-leave-->
    </div>
</div>


