<div>
    <div class="entidad_control">
        
        <!--<div class="controles_hojas">
            <div class="iconos_control" ng-click="vm.cambiarVistaLista()"><span class="ico-align-justify"></span></div>
            <div class="iconos_control" ng-click="vm.ban_lista = !vm.ban_lista "><span class="ico-th"></span></div>
            <div class="iconos_control"><span class="ico-plus-circle"></span></div>
        </div>-->

        <div class="panel_control">
            <ul ng-class="vm.editando ? 'a_bloques' :'a_bloques disable'" >
                <li class=" te_li_lista" ng-repeat="tipoDoc in vm.listaDocumentos | orderBy: 'nombre'">
                <input id="chk-td-{{tipoDoc.id}}"
                       type="checkbox"
                       ng-disabled="!vm.editando"
                       ng-class="tipoDoc.valor ? 'checked' : ''"
                       ng-model="tipoDoc.valor"
                       ng-checked="tipoDoc.valor">
                <label for="chk-td-{{tipoDoc.id}}"
                       class="styled1 note rounded">
                    <div>
                        <span class="escudo-udenar escudo_hojas"></span>
                        <p>{{ tipoDoc.nombre }}</p>
                    </div>
                </label>
                </li>
            </ul>
        </div>
    </div>
</div>