<div class="box_father">

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~1-->
    <div class="box_left">
        <wl-lista-usuarios lista="vm.usuarios"
                           objeto-seleccionado="vm.usuarioSeleccionado"
                           seleccionar="vm.seleccionar"
                           editando="vm.editando">
        </wl-lista-usuarios>
    </div>


    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~2-->
    <div class="box_right">
        <p ng-show="vm.subido">{{vm.language.strings.ArchivoCargadoServidor}}</p>
        <p ng-show="!vm.subido">{{vm.language.strings.ArchivoNoCargadoServidor}}</p>
        <wl-admin-crud objeto-seleccionado="vm.usuarioSeleccionado"
                       editando="vm.editando"
                       nuevo="vm.nuevo"
                       eliminar="vm.remover">
        </wl-admin-crud>
        <modal-dialog show="vm.camaraToggle">
            <div class='ng-modal-close'>
                <button class="btn_ico" title="{{vm.language.strings.CerrarCamara}}" ng-click="vm.cerrarCamara()" 
                        ng-disabled="!vm.editando">
                    <span class="ico-times"></span>
                </button>
            </div>

            <div class="canvas_container">
                <video ng-show="vm.foto" id="camaraUsu" width="320" height="240" autoplay></video>
                <canvas ng-show="!vm.foto" id="fotoUsu" width="320" height="240"></canvas>
            </div>

            <div id="botonera">
                <button ng-show="vm.foto" class="btn_con_ico"
                        ng-click="vm.snapshot(); vm.foto = !vm.foto;"
                        ng-disabled="!vm.editando">
                    <span class="ico-camera tamano_botones_1"></span>{{vm.language.strings.TomarFoto}}
                </button>
                <button ng-show="!vm.foto" class="btn_con_ico" ng-click="vm.repetirFoto();vm.foto = !vm.foto;"
                        ng-disabled="!vm.editando">
                    <span class="ico-camera tamano_botones_1"></span>{{vm.language.strings.RepetirFoto}}
                </button>
                <button ng-show="!vm.foto" class="btn_con_ico" ng-click="vm.guardarFoto()"
                        ng-disabled="!vm.editando">
                    <span class="ico-camera tamano_botones_1"></span>{{vm.language.strings.GuardarFoto}}
                </button>
            </div>
        </modal-dialog>
        <div class="box_duo_input">
            <div>
                <p class="texto_labels green">{{vm.language.strings.Fotografia}}</p>
                <div class="box_fotografia">
                    <div class="foto_usuarios">
                        <span class="ico-user" ng-show="!vm.trash"></span>
                        <img alt=" {{vm.language.strings.FotografiaUsuario}}" src="" id="laimagen" ewl wl-load="vm.mostrarFoto();" />
                        <input type="file" id="input_usu_foto"
                                ng-disabled="!vm.editando" />
                        <input type="hidden" id="hidden_input" name="filename" />
                    </div>
                    <div class="botonera_camara">
                        <button class="btn_ico" title="{{vm.language.strings.TomarFoto}}" ng-click="vm.abrirCamara();"
                                ng-disabled="!vm.editando">
                            <span class="ico-camera"></span>
                        </button>

                        <button class="btn_ico" title="{{vm.language.strings.SubirFoto}}" ng-click="vm.seleccionarArchivo();"
                                ng-disabled="!vm.editando">
                            <span class="ico-upload"></span>
                        </button>

                        <button class="btn_ico" title="{{vm.language.strings.BorrarFoto}}" ng-show="vm.trash" ng-click="vm.borrarFoto();"
                                ng-disabled="!vm.editando">
                            <span class="ico-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <p class="texto_labels green">{{vm.language.strings.Nombres}}</p>
                    <input class="a_input" ng-model="vm.usuarioSeleccionado.nombre"
                            ng-disabled="!vm.editando" />
                </div>
                <div>
                    <p class="texto_labels green">{{vm.language.strings.Apellidos}}</p>
                    <input class="a_input" ng-model="vm.usuarioSeleccionado.apellido" 
                            ng-disabled="!vm.editando"/>
                </div>
                <div>
                    <p class="texto_labels green">{{vm.language.strings.NombreUsuario}}</p>
                    <input class="a_input" ng-model="vm.usuarioSeleccionado.nombreUsuario"
                            ng-disabled="!vm.editando" />
                </div>
            </div>
        </div>

        <div class="box_duo_input">
            <div>
                <p class="texto_labels green">{{vm.language.strings.Contrasena}}</p>
                <input class="a_input"  type="text" ng-model="vm.usuarioSeleccionado.contrasena" maxlength="20"
                        ng-disabled="!vm.editando"/>
                <div id="widget_seguridad">
                    <div id="content_span">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <p>{{vm.language.strings.NivelSeguridad}}: {{vm.val_seguridad}} </p>
                </div>
            </div>
            <div>
                <p class="texto_labels green">{{vm.language.strings.ConfirmarContrasena}}</p>
                <input class="a_input" type="password" ng-model="vm.usuarioSeleccionado.contrasena"
                        ng-disabled="!vm.editando"/>
            </div>
        </div>

        <div class="box_duo_input">
            <div>
                <p class="texto_labels green">{{vm.language.strings.CorreoElectronico}}</p>
                <input class="a_input" ng-model="vm.usuarioSeleccionado.correo" 
                        ng-disabled="!vm.editando"/>
            </div>
            <div>
                <p class="texto_labels green">{{vm.language.strings.RolUsuario}}</p>
                <div class="div_con_info">
                    <div class="a_select"><!--aqui debe haber un hack como en entida.html-->
                        <input class="a_select"
                                type="text"
                                ng-disabled="!vm.editando"
                                ng-model="vm.usuarioSeleccionado.rol.nombre"
                                ng-show="!vm.editando" />
                        <select ng-show="vm.editando" ng-options="rol as rol.nombre for rol in vm.roles"
                                ng-model="vm.usuarioSeleccionado.rol">
                        </select>                        
                    </div>
                    <button class="btn_ico" title="{{vm.language.strings.InformacionRol}}" ng-click="vm.mostrarDialogo(vm.usuarioSeleccionado.rol)"
                            ng-disabled="!vm.editando">
                        <span class="ico-info"></span>
                    </button>
                </div>
                <info-rol show="vm.infoRol" rol="vm.usuariox"></info-rol>
            </div>
        </div>

        <div class="box_duo_input">

            <div>
                <p class="texto_labels green">{{vm.language.strings.EstadoUsuario}}</p>
                <div class="contenedor_radios">
                    <span>
                        <input class="a_radio" id="rad1" type="radio" name="rad1" checked 
                                ng-disabled="!vm.editando"
                                ng-model="vm.usuarioSeleccionado.estado"
                                ng-value="'A'" />
                        <label for="rad1"> {{vm.language.strings.Activo}}  </label>
                    </span>
                    <span>
                        <input class="a_radio" id="rad2" type="radio" name="rad2"
                                ng-disabled="!vm.editando"
                                ng-model="vm.usuarioSeleccionado.estado"
                                ng-value="'I'" />
                        <label for="rad2">{{vm.language.strings.Bloqueado}}</label>
                    </span>
                </div>
            </div>
            <div></div>
        </div>

        <wl-confirmacion editando="vm.editando"
                         aceptar="vm.aceptar"
                         cancelar="vm.cancelar">
        </wl-confirmacion>
    </div>
</div>