<div class="ca_label_busqueda" ng-if="!vm.banCrearAnotacion">Se encontro N {{n}} resultados de la busqueda:</div>
<div class="ca_label_busqueda" ng-if="vm.banCrearAnotacion">{{vm.language.strings.CompleteDatosCrearAnotacion}}:</div>


<div class="box-contenido-lista-de">
    <div class="lista-doc-encontrado" ng-repeat="documento in vm.documentos"
            ng-hide="!vm.isTheSelectedDocument( documento ) && vm.docSeleccionado != undefined">
        <div ng-click="vm.llamarAccion(documento);">
            <div class="ico-lde"><span class="ico-file-text-o"></span></div>
            <div class="lde_contenido">
                <div class="de-subcontenido">
                    <a>{{ documento.tipoDoc.nombre }} {{ documento.numero }} {{vm.language.strings.del}} {{ documento.anioPublicacion }}</a>
                    <p>{{vm.language.strings.Entidad}}: <i>{{ documento.entidad.nombre }} </i></p>
                    <p>{{vm.language.strings.FechaPublicacion}}: <i>{{ documento.anioPublicacion  }} </i></p>
                </div>
            </div>

            <div >
                <a class="link_tarjeta" ng-show="!vm.isTheSelectedDocument( documento);"
                   ng-click="vm.mostrarVistaPrevia( documento, $event );">
                    <span class="ico-eye"></span>{{vm.language.strings.VistaPrevia}}
                </a>
                <a class="link_tarjeta" ng-show="vm.isTheSelectedDocument( documento);"
                   ng-click="vm.ocultarVistaPrevia( documento, $event );">
                    <span class="ico-eye-slash"></span>{{vm.language.strings.VistaPrevia}}
                </a>
            </div>
        </div>
    </div>

</div>

<iframe ng-if="vm.togglePdf"
        src="{{ vm.serviceUrl + '/Files/' + vm.docSeleccionado.archivo }}"
        class="de-vpdf" frameborder="0"></iframe>