/*barra de navegacion*/
.navegacion{
}

.bar_nav{
}

.bar_nav > li {
    list-style:none;
    float:right;
    line-height:2.1;
    position:relative; 
    margin: 0 10px;
    z-index:8;
    
   /* border-right:2px solid green;*/
}


/*animacion de las items de navegacion*/
.bar_nav > li:before{
    content:"";
    width:0;
    height:4px;
    background:#fff;
    position:absolute;
    left:50%;
    bottom:0;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.bar_nav > li:hover:before{
    width:100%;
    left:0;
}

.bar_nav > li:hover{
    background: rgba(255, 255, 255, 0.4);
}
/*-----------------------------------*/

.bar_nav li a {
    font-family:'Lato-Regular';
    text-decoration: none;
    padding: 0 1rem;
    color:#fff;
    font-size:1rem;
    text-align:center;
}


.bar_nav li ul {
    list-style:none;
    position:absolute;
    width:120%;
    display:none;
    margin-bottom:.5rem;
}

