/*----------------------------------------*/
/*---------Estilos para Botones----------*/

.btn_con_ico{
    position:relative;
    background-color: #0f745b;
    font-family:'Century Gothic';
	font-size: 0.7em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.04rem;
	color: #fff;
	border:0;
    margin:auto 0;
    padding:8px 5px 8px 40px;
    min-width:110px;
    cursor:pointer;	
}

.btn_con_ico::-moz-focus-inner{
    margin-top:-2px; 
    margin-bottom: -2px; 
}

.btn_con_ico.inverso{
    padding:7px 0 7px 10px;
    text-align:left;
}

.btn_con_ico:hover {
    background-color:  #099472;
}

.btn_con_ico:active{
    background-color: #064234;
}

/*---------------------------------*/
.tamano_botones_1{
    background: rgba(0, 0, 0, 0.08);
    height:100%;
    width: 35px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 140%;
    line-height:2.3;
}
/*-----------------------------------*/
.tamano_botones_1.derecha{
    left:unset;
    right: 0;
    text-align:center;
}


.btn_sin_ico{
    position:relative;
    background-color: #0f745b;
    font-family:'Century Gothic';
	font-size: 0.7em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.04rem;
	color: #fff;
	border:0;
    margin:auto 0;
    padding:8px 5px 8px 8px;
    min-width:110px;
    cursor:pointer;

	-webkit-transition:  all 0.2s;
    -o-transition: all 0.2s;
	transition:  all 0.2s;
}

.btn_sin_ico::-moz-focus-inner{
    margin-top:-2px; 
    margin-bottom: -2px; 
}

.btn_sin_ico.inverso{
    padding:7px 0 7px 10px;
    text-align:left;
}

.btn_sin_ico:hover , .btn_ico:hover {
    background-color:  #099472;
}

.btn_sin_ico:active , .btn_ico:active{
    -webkit-transition: all 0.05s;
    -o-transition: all 0.05s;
	transition: all 0.05s;

    background-color: #064234;
}

/*-----Btn solo Ico-----*/
.btn_ico{    
    border:0;
    background:#0f745b;
    cursor:pointer;
    min-height:35px;
    min-width:35px;
}

.btn_ico > span{
    display:flex;
}

.btn_ico > span:before{
    font-size:20px;
    color:white;
    width:100%;
}



/*--Fin Btn solo Ico-----*/


