/*----------------------------------------*/
/*---------Estilos para Botones----------*/

.btn_con_ico{
    position:relative;
    background-color: #fff200;
    font-family:'Century Gothic';
	font-size: 0.7em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.04rem;
	color: #000;
	border:0;
    margin:0;
    padding:7px 5px 7px 30px;
    min-width:110px;
    border-radius:3px;
    cursor:pointer;

	-webkit-transition:  all 0.2s;
    -o-transition: all 0.2s;
	transition:  all 0.2s;
}

.btn_con_ico::-moz-focus-inner{
    margin-top:-2px; 
    margin-bottom: -2px; 
}

.btn_con_ico.inverso{
    padding:7px 0 7px 10px;
    text-align:left;
}

.btn_con_ico:hover {
    background-color:  #ddbc01;
}

.btn_con_ico:active{
    -webkit-transition: all 0.05s;
    -o-transition: all 0.05s;
	transition: all 0.05s;

    background-color: #dbde7e;
}

/*---------------------------------*/
.tamano_botones_1{
    background: rgba(0, 0, 0, 0.08);
    height:100%;
    width: 30px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 140%;
    line-height:2.1;
}
/*-----------------------------------*/
.tamano_botones_1.derecha{
    left:unset;
    right: 0;
    text-align:center;
}