.entidad_control{
    display:flex;
    flex-direction:column;
    height:50vh;
    width:100%; 
    margin-bottom:10px;
}

.controles_hojas{
    display:flex;
    justify-content:flex-end;
    width:100%;
    height:40px;
    background:#0E6B54; 
    padding:4px; 
}

.iconos_control{
    color:#444;
    background:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:x-large;
    cursor:pointer;
    height:100%;
    margin-left:4px;
    padding: 0 4px;
    box-shadow:0 0 1px #333333;
}

.iconos_control span{
    display:flex;
    justify-content:center;
}

.iconos_control span:before{
    margin-top:1px;
    display:flex;
    justify-content:center;
}

.iconos_control:hover{
    color:#0f745b; 
    box-shadow:none;
}

.panel_control{
    background:rgb(237, 237, 237); 
    display:flex; 
    justify-content:flex-start;
    width:100%;
    overflow-y:auto; 
    padding:5px;
    border:1px solid #aaa;
}

.a_bloques {
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}

.a_bloques.disable{
    pointer-events:none;
}

.a_bloques  li{
    margin:5px;
    cursor:pointer;
}

.a_bloques li label div{
    height:100%;
    width:100%;
    display:flex;
    padding-left:5px;
    padding-right:5px;
    flex-direction:column;
    justify-content:center;
}
.a_bloques li label div p{
    text-align:center;
    margin-top:10px;
    color: #111;
    font-family: "Lato-Regular";
    font-size: 13px;
    -ms-word-break: initial;
    word-break: initial;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}


.a_bloques li input {
    cursor: pointer;
    display:none;
}

.a_bloques li:hover label{
    cursor:pointer;
    box-shadow:#999 0 0 0 2px inset;
}

.a_bloques input.checked + label{        
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow:#29c44b 0 0 1px 2px inset;
}


.note {
   display:inline-block;
   height:135px;/*alto de la hoja*/
   width:115px;/*ancho de la hoja*/

   font-size:1.1rem;
   /*Pendiente script para auto ajustar el texto*/

   position:relative;
   background:#fff;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.4);
   -moz-box-shadow: 0 0 1px rgba(0,0,0,0.4);
   box-shadow: 0 0 1px rgba(0,0,0,0.4);
}

.escudo_hojas{
    text-align:center;
    font-size:60px;
    color:#111;
}


.note:before {
   content:"";
   position:absolute;
   top:-2px;
   right:-1px;
   border-width:0 16px 16px 0;
   border-style:solid;
   border-color:#fff rgb(237, 237, 237) ; 
   display:block;
   width:0;
   -webkit-box-shadow: -1px 2px 1px rgba(0,0,0,0.4);
   -moz-box-shadow: -1px 2px 1px rgba(0,0,0,0.4); 
   box-shadow: -1px 2px 1px rgba(0,0,0,0.4);
   overflow:hidden;
}
.note:after {
   content:"✓";
   position:absolute;
   font-size:small;
   font-weight:900;
   bottom:0;
   right:80%;
   opacity:0;
 
   -webkit-transition: all 0.3s ease-in ;
   -moz-transition: all 0.3s ease-in ; 
   transition: all 0.3s ease-in ;
   visibility:hidden;

   display:block;
   overflow:hidden;
}
.a_bloques input.checked + label::after {
   content:"✓";
   position:absolute;
   font-size:medium;
   font-weight:900;
   bottom:0;
   right:0;
   padding-right:4px;
   opacity:1;
   text-shadow:0 0 1px green;

   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   visibility:visible;

   display:block;
   overflow:hidden;
}
.note.rounded {
   -webkit-border-radius:3px 0 3px 3px;
   -moz-border-radius:5px 0 5px 5px;
   border-radius:3px 0 3px 3px;  
}

