/*estilo general para inputs*/
/*----------------------------------------*/
.a_input{
    width:100%;
    margin:10px 0;
    line-height: 2.5em;
    padding: 0 10px;
    
    display:inline;
    border-radius:2px;
    border:1px solid #a1a1a1;
    -o-transition:     box-shadow 0.4s;
    -webkit-transition:box-shadow 0.4s;
    -moz-transition:   box-shadow 0.4s;
    transition:        box-shadow 0.4s;
}


.a_input:-webkit-autofill {
    outline:0;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.a_input:focus{
    outline:0;
    border:1px solid  #3f9f43; 
    -webkit-box-shadow: 0 0 1px  #3f9f43,0 0 1px green;  
    box-shadow: 0 0 1px  #3f9f43,0 0 1px green;
}
  
.a_input:-webkit-autofill:active,
.a_input:-webkit-autofill:focus
 {  
    outline:0;
    -webkit-box-shadow: 0 0 0px 1000px white inset, 0 0 1px  #3f9f43,0 0 1px green;
    border:1px solid  #3f9f43; 
}



