/*select --ESTILOS PARA LAS LISTAS--*/


.a_listado{ 
    margin-top:10px;
    list-style:none;
    float:left;
    overflow-y:auto;
    display:inline;
    line-height:2;    
    width:50%;  
    height:40vh;
}


.a_listado li{  
    border:1px solid #a1a1a1;
    border-top:none;
}

.a_listado li:first-child{
    border-top:1px solid #a1a1a1;
}


label.styled {
  display: block;
  text-align: left;
  padding: 0 0 0 10px;
  color: #222;
  font-family:"Lato-Regular";
  font-size:.9em;

  transition: all 0.3s ease;

  position: relative;
  overflow: hidden;
  cursor: pointer;
}

label.styled:hover{
    background-color:  rgba(69, 177, 93, 0.20);
}

label.styled > p{
    margin-top:-12px;
    color:#0f745b;
}

input.styled {
  display: none;
}

/* :: CHECKED :: */
input.styled:checked ~ label.styled {
  background-color:  rgba(69, 177, 93, 0.20);
  -webkit-animation:  linear 0.3s;
  -moz-animation:  linear 0.3s;
  -o-animation:  linear 0.3s;
  animation:  linear 0.3s;
}

label.styled:before {
    content: '✓';
    padding:0 8px;
    line-height: 30px;
    font-size: 20px;
    color: #fff;        
    height: 100%;         
    position: absolute;       
    right: 50%;
    width: 15px;
    opacity: 0;    
    transition: linear .3s;
    background-color: #2dbf85;
}

label.styled.animated:before {
    opacity: 1;
    right: 0;
}
    