/*select --ESTILOS PARA LAS LISTAS--*/


.a_listado{ 
    margin-top:10px;
    list-style:none;
    float:left;
    overflow-y:auto;
    display:inline;
    line-height:2;    
    width:50%;  
    height:50vh;
}


.a_listado li{  
    border:1px solid #a1a1a1;
    border-top:none;
}

.a_listado li.no_selecteable{  
    pointer-events: none;
    background:rgba(0,0,0,.08);
}

.a_listado li:first-child{
    border-top:1px solid #a1a1a1;
}


label.styled {
  display: block;
  text-align: left;
  padding: 0 0 0 10px;
  color: #222;
  font-family:"Lato-Regular";
  font-size:.9em;
  transition: all 0.3s ease;
  background:transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

label.styled:hover{
    background-color:  rgba(69, 177, 93, 0.20);
}

label.styled > p{
    margin-top:-12px;
    color:#0f745b;
}

input.styled {
  display: none;
}

/* :: CHECKED :: */
/*input.styled:checked ~ label.styled {
  background-color:  rgba(69, 177, 93, 0.20);
  -webkit-animation:  linear 0.3s;
  -moz-animation:  linear 0.3s;
  -o-animation:  linear 0.3s;
  animation:  linear 0.3s;
}*/

label.styled:before {
    content: '✓';
    padding:0 8px;
    line-height: 30px;
    font-size: 20px;
    color: #fff;        
    height: 100%;         
    position: absolute;       
    right: 50%;
    width: 15px;
    opacity: 0;    
    transition: linear .3s;
    background-color: #2dbf85;
}

label.styled.animated:before {
    opacity: 1;
    right: 0;
}
label.styled.animated {
    background-color:  rgba(69, 177, 93, 0.20);
}


.error_lista {
    width: 100%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.error_lista span{
    color:#666;    
    font-size:2em;
}


