/*div de mini Busqueda*/
.contenedor_mini_search{
    margin:auto;
    display:block;
    width:50%;
    vertical-align:middle;
    /*margin:10px 10px;
    height:50%;
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;*/
}

.mini_search{
    width:100%;
	height:60px;
    background:white;
    -webkit-box-shadow: 0 0 0 8px rgba(17, 21, 21, 0.3);
    -moz-box-shadow: 0 0 0 8px rgba(17, 21, 21, 0.3);
    box-shadow: 0 0 0 8px rgba(17, 21, 21, 0.3);
    position:relative;
    opacity:1;
    overflow:hidden;

    -moz-transition:all .2s;
    -webkit-transition:all .2s;
    -o-transition:all .2s;
    transition:all .2s;
}

.mini_search input{
    font-size:x-large;
    padding:17px;
    border: none;
    width:99%;
    color:#444;
}

.mini_search button{
    border:none;
    background:rgb(24, 156, 100);
    color:#fff;
    position: absolute;
    font-size:35px;
    right:0;
    padding:13px;

    cursor: pointer;
}  

.mini_search input:hover{
	outline:0;
}