.uploader input {
    display: none; 
}
 
.uploader {
    align-items: center;
    background-color: #cccccc;
    display: flex;
    cursor:pointer;

    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
   
    height: auto;
    line-height:20px;
    justify-content: center;
    outline: 2px dashed #cccccc;
    outline-offset: 4px;
    position: relative;
    margin: 20px 0 2px 0;
    width: 100%; 
}

.uploader label{
    color: rgba(0, 0, 0, 0.5);
    font-family:'Century Gothic';
    font-size:small;
    padding-bottom:.5rem;
    pointer-events: none; 
} 

.uploader span {
    padding-top:1rem;
    pointer-events: none; 
}
 
.uploader, 
.uploader span{
    -webkit-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear; 
}
 
.uploader > span {
    color: rgba(0, 0, 0, 0.5);
    font-size: 3em;
}
 
.uploader.dragging {
    outline-color: rgb(30, 109, 185);  
    outline-offset: 1px;
    background-color: rgba(0, 0, 0, 0.07);
}
 
.uploader.dragging > span {
    color: rgb(30, 109, 185); 
}
 
.uploader.loaded  > span {
    color:#3bc742;  
}
.uploader.loaded{
    outline-offset: -2px;
    outline-color: #3bc742; 
}
.uploader.loaded > span + label{
    display:none;
}
#progress_bar {
    margin:10px 0;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

#progress_bar.loading {
    opacity: 1.0;
}

#progress_bar .percent {
    background-color: #3bc742;  
    height: auto;
    width: 0;
    color:white;
    padding:2px 0;
    font-family:'Century Gothic';
}

#ico_cargado{
    display:none;
}

#cancelar_lectura{
    display:none;
}